<div>
    <label class="item item-input vertical-middle inline ">
        <input type="text" ng-model="tagsInserted" ng-change="inputChanged($event)" ng-click="openPopover($event)"></input>
    </label>
    <div  class="inline vertical-middle">
        <div class="tag-element card inline" ng-repeat="tag in attachedTags">
            <div class="inline vertical-middle">{{tag.value}}</div>
            <i class="tag-element-remove vertical-middle icon ion-android-close inline" ng-click="removeTag(tag)"></i>
        </div>
    </div>
</div>
