<div class="stream">
    <div class="stream post-creation-details">
        <div class="stream post-date"><span>{{post.date  | date:"EEEE" | capitalize}}, {{post.date  | date:"d MMMM yyyy"}}</span></div>
        <div class="stream post-baby-age" ng-if="baby.birthday">{{baby.firstName}} {{'has' | translate}} {{getBabyAgeString(baby.birthday, post.date)}}</div>
    </div>
    <div class="stream post-action-container">
        <!--
        <button class="button button-clear" ng-click="sharePost(post)">
            <i class="icon ion-android-share-alt"></i>
        </button>
-->
        <button class="button button-clear" ng-click="removePost(post)">
            <i class="icon ion-trash-a"></i>
        </button>
        <button class="button button-clear" ng-click="editPost(post)">
            <i class="icon inf_digedit "></i>
        </button>

    </div>

    <div class="stream post-text">{{post.text}}</div>
    <div class="stream post-author">{{getAuthor(post)}}</div>
    <div class="stream post-tags-container">
        <i class="stream icon ion-pricetag post-tag"></i>
        <div class="stream post-tag" ng-repeat="tag in post.tags">{{tag}}</div>
    </div>

    <div class="stream post-photos-container">
        <div class="row">
            <div class="col" ng-repeat="photo in post.pictures | limitTo:2 track by $index">
                <img class="stream post-photo" ng-src="{{photo}}" ng-click="viewPhotos(post.pictures, $index)">
            </div>
        </div>
        <button class="button button-clear stream post-photo-more" ng-click="viewPhotos(post.pictures)" ng-if="post.pictures.length > 2">
            <i class="stream icon ion-android-more-horizontal"></i>
        </button>
    </div>
</div>


<!--TODO: photos container!-->
