<ion-view id="dettaglidiario" title="{{'diary_details' | translate}}">
     <ion-nav-bar class="bar bar-ungiorno">
        <ion-nav-back-button>
        </ion-nav-back-button>
          <ion-nav-buttons side="right">
                <button class="button" ng-click="modify()" ng-if="isViewMode()">
                    <i class="icon ion-android-create"></i>
                </button>
                <button class="button" ng-click="save()" ng-if="!isViewMode()">
                    <i class="icon ion-checkmark-round"></i>
                </button>
                </button>
            </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <div class="headerdata">{{getString('data', baby.gender)}} {{isMale(baby.gender) ? 'name_m' : 'name_f' | translate}}</div>
        <div class="topdata">{{getString('name', baby.gender)}} {{isMale(baby.gender) ? 'name_m' : 'name_f' | translate}}</div>
        <div ng-if="isViewMode()" class="textdata"> {{baby.firstName}} </div>
        <input type="text" ng-if="!isViewMode()" value="{{baby.firstName}}" class="textdata">

        <div class="topdata">{{getString('surname', baby.gender)}} {{isMale(baby.gender) ? 'name_m' : 'name_f' | translate}}</div>
        <div ng-if="isViewMode()" class="textdata"> {{baby.lastName}} </div>
        <input type="text" ng-if="!isViewMode()" value="{{baby.lastName}}" class="textdata">

        <div class="topdata">{{getString('date_birth', baby.gender)}} {{isMale(baby.gender) ? 'name_m' : 'name_f' | translate}}</div>
        <div ng-if="isViewMode()" class="textdata"> {{baby.birthday*1000 | date:"d MMMM yyyy"}} </div>
        <input type="date" ng-if="!isViewMode()" value="{{baby.birthday*1000 | date:'yyyy-MM-dd'}}" class="textdata">

        <img ng-src="{{baby.image}}" class="sizeImage">

        <div class="headerdata">{{'data_family' | translate}}</div>
        <div ng-repeat="data in baby.persons track by $index">
            <div class="topdata">{{'name' | translate}} {{getPreposition(data.gender, data.relation)}} {{data.relation}}</div>
            <div class="textdata"  ng-if="isViewMode()">{{data.fullName}}</div>
            <input type="text" ng-if="!isViewMode()" value="{{data.fullName}}" class="textdata">
            <div class="topdata">{{'surname' | translate}} {{getPreposition(data.gender, data.relation)}} {{data.relation}}</div>
            <div class="textdata" ng-if="isViewMode()">{{data.lastName}}</div>
            <input type="text" ng-if="!isViewMode()" value="{{data.lastName}}" class="textdata">
            <div class="topdata">{{'date_birth' | translate}} {{getPreposition(data.gender, data.relation)}} {{data.relation}}</div>
            <div class="textdata" ng-if="isViewMode()">{{data.birthday*1000 | date:"d MMMM yyyy"}}</div>
            <input type= "date" ng-if="!isViewMode()"{{value="data.birthday*1000 | date:'yyyy-MM-dd'}}" class="textdata">
            <div class="separator"></div>
        </div>

        <div class="headerdata">{{'acces_diary' | translate}}</div>

        <div ng-repeat="data in baby.authorizedPeople track by $index">
            <div class="topdata">{{getString('name', data.gender, data.relation)}} {{data.relation}}</div>
            <div class="textdata" ng-if="isViewMode()">{{data.firstName}}</div>
            <input type="text" ng-if="!isViewMode()" value="{{data.firstName}}" class="textdata">
            <div ng-if="data.phone" class="textdata">
                <i class="sizeIcon icon ion-android-call"></i>
                <div class="person-details">
                    <div class="topdata">{{getString('number_parents', data.gender, data.relation)}} {{data.relation}}</div>
                    <a href="tel:{{phone}}"  ng-repeat="phone in data.phone track by $index">
                        <div class="textdata" ng-if="isViewMode()">{{phone}}</div>
                        <input type="text" ng-if="!isViewMode()" value="{{phone}}" class="textdata">
                    </a>
                </div>
            </div>
            <div ng-if="data.email" class="textdata">
                <i class="sizeIcon icon ion-email"></i>
                <div class="person-details">
                    <div class="topdata">{{getString('mail_parents', data.gender, data.relation)}} {{data.relation}}</div>
                    <a href="mailto:{{mail}}"  ng-repeat="mail in data.email track by $index">
                        <div class="textdata" ng-if="isViewMode()">{{mail}}</div>
                        <input type="text" ng-if="!isViewMode()" value="{{mail}}" class="textdata">
                    </a>
                </div>
            </div>
            <div class="headerdata" ng-if="isTeacher(data.relation)" >{{'notesTeacher' | translate}}</div>
            <input ng-if="isTeacher(data.relation)" type="text" ng-if="!isViewMode()" value="{{'notes' | translate}}" class="textdata">
            <div class="separator"></div>
        </div>
    </ion-content>
</ion-view>
