<ion-view id="home" >
    <ion-nav-title>{{baby.fullName}}</ion-nav-title>
    <ion-content id="postsScrollView">
        <ul class="list"  ng-if="baby">
            <li class="item stream-item" ng-repeat="post in posts">
                <baby-post post="post" baby="baby" edit-callback="openEditPost" share-callback="sharePost"></baby-post>
            </li>
        </ul>
        <h4 class="text-center" ng-if="!baby">{{'no_profiles'|translate}}</h4>
        <h4 class="text-center" ng-if="baby && !posts">{{'nothing_note'|translate}}</h4>
    </ion-content>


    <fab-button attached-to="postsScrollView" ng-click="openCreatePost()" ng-if="baby"></fab-button>

</ion-view>
