<ion-view id="login">
    <ion-nav-bar class="bar bar-ungiorno">
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content id="login-container" has-header="true" class="page-padding login-container">
        <!--<h1>Diario Condiviso</h1>
        <h3 style="margin-top:100px; text-align:center">Accedi con:</h3>
        <p class="button login-buttons">Vivoscuola</p>
        <p class="button login-buttons">Gmail</p>
        <div class="steps-indicator-container">
            <div ng-repeat="step in steps" class="step-indicator" ng-class="{'step-indicator-done': step.done}"></div>
        </div>-->

        <div class="login-title">Diario Condiviso</div>
        <div class="enter_credentials">Inserisci le tue credenziali:</div>

        <label class="item item-input id-container">
            <input type="text" placeholder="Inserisci nome utente o e-mail">
        </label>
        <label class="item item-input password-container">
            <input type="text" placeholder="Inserisci password">
        </label>

        <p class="button login-buttons">Entra</p>
    </ion-content>
</ion-view>
