<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content drag-content="false">
        <ion-nav-bar class="bar bar-ungiorno">
            <ion-nav-buttons side="left">
                <!-- O: button-clear or button-icon -->
                <button class="button button-percorsi button-clear" menu-toggle="left">
                    <i class="icon ion-navicon"></i>
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left">
        <ion-header-bar class="bar bar-ungiorno">
            <h1 class="title">Menu</h1>
        </ion-header-bar>
        <ion-content class="leftmenu">
            <ion-list>
                <p>
                    <div class="row">
                        <div class="col col-80">
                            <div class="item item-avatar slected-baby" ng-click="openPopover($event)">
                                <img ng-src="{{babyselected.img}}">
                                <h2>{{babyselected.name}}</h2>
                            </div>
                        </div>
                        <div class="col col-20" id="babysettingcell">
                            <button menu-close class="button icon ion-gear-a" id="babysetting" ng-click="gotoSetting({{babyselected.id}})"></button>
                        </div>
                    </div>

                </p>
                <ion-item menu-close item-icon-left ng-click="goto('app.home')">
                    <i class="icon voice-menu  inf_digaccount"></i>Home
                </ion-item>
                <ion-item menu-close item-icon-left ng-click="goto('app.login')">
                    <i class="icon voice-menu  inf_digaccount"></i>Esci
                   </ion-item>
                <ion-item menu-close item-icon-left ng-click="goto('app.dettaglidiario')">
                    <i class="icon voice-menu  inf_digaccount"></i>dettaglidiario

                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
