<div class="modal">
    <ion-header-bar class="bar-ungiorno">
        <button class="button back-button button-clear" ng-click="cancel()">
            <i class="icon inf_digarrow_back "></i>
        </button>
        <h1 class="title">{{'create_post' | translate}}</h1>
        <button class="button button-clear" ng-click="save()"><i class="icon inf_digcheck "></i></button>
    </ion-header-bar>
    <ion-content style="margin-left:10px; margin-right:10px;">
        <label class="item item-input post-create-element-row">
            <textarea type="text" ng-model="currentPost.text" placeholder="{{'description' | translate}}"></textarea>
        </label>

        <div class="post-create-element-row">
            <autocomplete-tags tags="tagsFromServer" attached-tags="currentPost.tags" class="post-create-element"></autocomplete-tags>
        </div>
        <div class="post-create-element-row">
            <i class="icon inf_digimage post-create-element"></i>
            <button class="button post-create-add-photo post-create-element" id="new_post_photo" ng-click="addPhoto($event)">{{'add_photo' | translate}}</input>
        </div>
        <div class="post-create-gallery">
            <div class="post-create-photo-container inline" ng-repeat="img in currentPost.pictures track by $index">
                <img data-ng-src="{{img}}" width="100px" />
                <button class="button post-create-photo-remove" ng-click="removePhoto($index)">
                    <i class="icon ion-android-close"></i>
                </button>
            </div>

            <!--
            <div ng-repeat="img in currentPost.photos track by $index" class="post-create-photo-container inline">
                <img class="post-create-photo" data-ng-src="{{img.url}}">
                <button class="button post-create-photo-remove" ng-click="removePhoto($index)">
                    <i class="icon ion-android-close"></i>
                </button>
            </div>
-->
        </div>
        <div class="post-create-element-row">
            <i class="icon inf_digclock post-create-element"></i>

            <div class="post-create-element">
                <label class="item item-input" ng-click="openDatePicker()">
                    <span type="date" class="input-label date">{{date | date:'EEEE, d-MMMM-yyyy'}}</span>
                </label>
            </div>
        </div>
        <!--
        <div class="post-create-element-row mood-container">
            <i ng-class="{'ion-sad':currentPost.mood==-1, 'ion-sad-outline':currentPost.mood != -1}" class="post-create-mood icon" ng-click="setMood(-1)"></i>
            <i ng-class="{'ion-happy':currentPost.mood==1, 'ion-happy-outline':currentPost.mood != 1}" class="post-create-mood icon" ng-click="setMood(1)"></i>
        </div>
-->

    </ion-content>
</div>
<!--TODO: description label must be multiline!
