<ion-view class="form-success" title="{{'lbl_login' | translate}}" hide-nav-bar="true">
    <ion-content>
        <!--TODO: page style-->
        <div class="success-container text-center">
            <p>{{'signup_success_text' | translate}}</p>
            <button class="button login-button-internal" ng-click="toLogin()">
                {{'login_signin' | translate}}
            </button>
            <a class="success-link" ng-click="resend()">
                  {{'signup_resend' | translate}}
              </a>
        </div>
    </ion-content>
</ion-view>
