ungiorno-mobile/ungiorno-mobile-genitori/typings/cordova-typings.d.ts
ungiorno-mobile/ungiorno-mobile-genitori/.vscode/plugins.json
ungiorno-mobile/ungiorno-mobile-genitori/.vscode/typings/angularjs/angular.d.ts
ungiorno-mobile/ungiorno-mobile-genitori/.vscode/typings/cordova/cordova.d.ts
ungiorno-mobile/ungiorno-mobile-genitori/.vscode/typings/ionic/ionic.d.ts
ungiorno-mobile/ungiorno-mobile-genitori/.vscode/typings/jquery/jquery.d.ts
ungiorno-mobile/ungiorno-mobile-genitori/Certificates-prod.p12
ungiorno-mobile/ungiorno-mobile-genitori/Certificates.p12
ungiorno-mobile/ungiorno-mobile-genitori/google-services.json
ungiorno-mobile/ungiorno-mobile-genitori/GoogleService-Info.plist
