/* Empty. Add your own CSS if you like */

.stream.post-tag {
    display: inline-block;
    margin: 5px;
    font-style: italic;
}

.stream.card {
    padding: 16px;
}

.stream.post-text {
    margin-top: 8px;
    margin-bottom: 8px;
}

.stream.post-author {
    font-size: 16px;
    text-align: right;
}

.stream.post-action-container {
    display: inline-block;
    float: right;
}
.stream.post-creation-details {
    display: inline-block;
}

.stream.post-photo {
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
}

.stream.post-photo-more {
    display: inline-block;
    vertical-align: middle;
    font-size: 24px;
}

.stream.photo-big-size {
    max-height: 300px;
}

.stream.photo-small-size {
    max-height: 150px;
}

.stream.fab {
    background-color: #F44336;
    color: #fff;
    height: 54px;
    width: 54px;
    -moz-border-radius: 54px;
    -webkit-border-radius: 54px;
    border-radius: 54px;

    vertical-align: middle;
    text-align: center;

    position: fixed;
    right: 16px;
    bottom: 16px;
    box-shadow: 0px 0px 10px #888888;


    -webkit-transition: bottom 0.2s; /* For Safari 3.1 to 6.0 */
    transition: bottom 0.2s;


}

.stream.fab:hover {
    box-shadow: 0px 5px 20px #888888;
}

.stream.fab.hidden {
    bottom: -60px;
}

.stream.fab-icon {
}

.post-create-element {
    display: inline-block;
    vertical-align: middle;
    margin-left: 16px;
}

.post-create-element.icon {
    font-size: 24px;
}

.post-create-element-row {
    margin-top: 8px;
    margin-bottom: 8px;
}

.post-create-mood {
    font-size: 72px;
}

.inline {
    display: inline-block;
}

.vertical-middle {
    vertical-align: middle;
}


.tag-element.card {
    padding: 12px;
    vertical-align: middle;
    margin: 5px 10px;
}

.tag-element-remove {
    font-size: 24px;
    margin-left: 8px;
}

.person-details {
    display: inline-block;
    vertical-align: middle;
}
.separator {
    height: 1px;
    background-color: gray;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.headerdata{
    color: mediumvioletred;
    font-size: 20px;
    margin-left: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
}
.topdata{
    color: darkgrey;
    font-size: 13px;
    margin-left: 10px;
    clear: right;
    margin-top: 5px;
}
.textdata{
    font-size: 14px;
}
.sizeImage{
    width: 150px;
    height: auto;
    margin-left: 10px;
}
.sizeIcon{
    font-size: 40px;
    margin-left: 10px;
}
.alignRight{
   padding-right: 10px;
}
.selectrole{
    margin-right: 10px;
    margin-left: 10px;
}
.addComponent{
    margin-right: 10px;
    margin-left: 10px;
}
.asterisk{
    color: mediumvioletred;
    font-size: 13px;
    margin-left: 10px;
}

#children-content {
  display: inline-block;
}
img {
  vertical-align: middle;
}
span {
  display: inline-block;
  vertical-align: middle;
}
.children-edit{
    width: 100%;
    border: 0;
     height: 40px;
    padding-right: 0px;
}
.input-children {
    border: 0;
    padding-right: 30px;


}
