<ion-grid inset *ngIf="selectedSchool" >
  <ion-row>
    <ion-col col-12>
      <button ion-button color="green1" float-end margin-top (click)="newGroupModal()">Crea nuovo gruppo</button>
    </ion-col>
    <ion-col col-12>
      <hr />
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-4>
      <ion-item>
        <ion-label floating>Ordine</ion-label>
        <ion-select [(ngModel)]='ordine' (ngModelChange)="onOrdineChange(ordine)" interface='popover'>
          <ion-option value='0'>Alfabetico A-Z</ion-option>
          <ion-option value='1'>Alfabetico Z-A</ion-option>
          <ion-option value='2'>N. Bambini (dal piu grande)</ion-option>
          <ion-option value='3'>N. Bambini (dal piu piccolo)</ion-option>
        </ion-select>
      </ion-item>
    </ion-col>
    <ion-col col-4>
      <ion-item>
        <ion-label floating>Filtro</ion-label>
        <ion-select interface='popover' [(ngModel)]='filtro' (ngModelChange)="onFiltroGroupChange(filtro)">
          <ion-option value='0'>Tutti</ion-option>
          <ion-option value='1'>Solo gruppi</ion-option>
          <ion-option value='2'>Solo sezioni</ion-option>
        </ion-select>
      </ion-item>
    </ion-col>
    <ion-col col-4>
      <ion-item>
        <ion-label floating>Cerca</ion-label> 
        <ion-input (input)="searchGroups($event)"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-12>
       <p float-end>Totale gruppi trovati: {{filteredGroups.length}}</p> 
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-12>
      <ion-list no-lines>
        <ion-item *ngFor="let item of filteredGroups">
          <!-- <ion-icon name="contacts" item-start color="green3" *ngIf="item.section" ></ion-icon>
          <ion-icon *ngIf="!item.section" item-start></ion-icon> -->
          <button ion-button item-start *ngIf="item.section" color="green3" [disabled]='true'>Sezione</button>
          {{item.name}}
          <button ion-button color="green2" class='btnGroup' item-end [disabled]='true'>{{item.teachers.length}} Insegnanti</button>
          <button ion-button color="green2" class='btnGroup' item-end [disabled]='true' style='margin-right: 200px'>{{item.kids.length}} Bambini</button>
          <ion-icon name="md-create" item-end color="magenta1" style="margin-right: 30px" (click)="showGroupModal(item, false)"></ion-icon>
          <ion-icon name="trash" item-end color="magenta1" style="margin-right: 10px" (click)="onDeleteGroup(item)"></ion-icon>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-grid>