<ion-grid inset *ngIf="thisKid && selectedKidGroups" >
    <ion-row>
        <ion-col col-1><p></p></ion-col>
        <ion-col col-10>
            <button *ngIf="!isNew"  ion-button color='green1' float-start margin-top (click)='goBack()'><ion-icon name='arrow-round-back' margin-right></ion-icon> 
                Dettagli di {{selectedKid.name}} {{selectedKid.surname}}
            </button>
            <button *ngIf="isNew"  ion-button color='green1' float-start margin-top (click)='goBack()'><ion-icon name='arrow-round-back' margin-right></ion-icon> 
                Nuovo bambino
            </button>
        </ion-col>
        <ion-col col-1><p></p></ion-col>
    </ion-row>
    <ion-row>
        <ion-col col-1><p></p></ion-col>
        <ion-col col-10>
            <ion-segment [(ngModel)]="kidSettings" color="light" style="background-color: #ccc;">
                <ion-segment-button value="info">
                Informazioni
                </ion-segment-button>
                <ion-segment-button value="genitori">
                Genitori
                </ion-segment-button>
                <ion-segment-button value="autorizza"> 
                Persone autorizzate
                </ion-segment-button>
            </ion-segment>
        </ion-col>
        <ion-col col-1><p></p></ion-col>
    </ion-row>
    <ion-row>
        <ion-col col-1><p></p></ion-col>
        <ion-col col-10>
            <div [ngSwitch]="kidSettings">
                <div *ngSwitchCase="'info'">
                    <ion-grid inset>
                        <ion-row>
                            <ion-col col-12>
                                <ion-card>
                                    <ion-card-header>
                                        Informazioni di base
                                        <button class='edit' ion-button color='magenta1' float-end *ngIf='!editInfo' (click)="onInfoEdit()">Modifica</button>
                                        <button class='edit' ion-button color='magenta1' float-end *ngIf='editInfo' (click)="onInfoSave()">Salva</button>
                                        <button class='edit' margin-right ion-button color='grey2' float-end *ngIf='editInfo' (click)="onInfoCancel()">Annulla</button>
                                    </ion-card-header>
                                    <ion-card-content margin-top>
                                        <ion-grid inset>
                                            <ion-row margin-bottom>
                                                <ion-col col-2>
                                                    C.F. (ID):
                                                </ion-col>
                                                <ion-col col-10>
                                                    <ion-input [(ngModel)]="thisKid.id" [disabled]='!isNew' no-margin></ion-input>
                                                </ion-col>
                                            </ion-row>
                                            <ion-row margin-bottom>
                                                <ion-col col-2>
                                                    Nome:
                                                </ion-col>
                                                <ion-col col-10>
                                                    <ion-input [(ngModel)]="thisKid.name" [disabled]='!editInfo' no-margin></ion-input>
                                                </ion-col>
                                            </ion-row>
                                            <ion-row margin-bottom>
                                                <ion-col col-2>
                                                    Cognome:
                                                </ion-col>
                                                <ion-col col-10>
                                                    <ion-input [(ngModel)]="thisKid.surname" [disabled]='!editInfo' no-margin></ion-input>
                                                </ion-col>
                                            </ion-row>
                                            <ion-row margin-bottom>
                                                <ion-col col-2>
                                                    Genere:
                                                </ion-col>
                                                <ion-col col-10>
                                                    <ion-select interface='popover' [(ngModel)]="thisKid.gender" *ngIf="editInfo" >
                                                        <ion-option value='Maschio'>Maschio</ion-option>
                                                        <ion-option value='Femmina'>Femmina</ion-option>
                                                        <ion-option value='Altro'>Altro</ion-option>
                                                    </ion-select>
                                                    <span *ngIf="!editInfo" style="padding-left: 8px;">{{thisKid.gender}}</span>
                                                </ion-col>
                                            </ion-row>
                                            <ion-row margin-bottom>
                                                <ion-col col-2>
                                                    Data di nascita:
                                                </ion-col>
                                                <ion-col col-10>
                                                    <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="thisKid.nascita" *ngIf='editInfo' no-margin></ion-datetime >
                                                    <span *ngIf="!editInfo" style="padding-left: 8px;">{{thisKid.Nascita}}</span>
                                                </ion-col>
                                            </ion-row>
                                            <ion-row margin-bottom>
                                                <ion-col col-12>
                                                    <span *ngIf='thisKid.sperimentazione && !editInfo'>Partecipa alla sperimentazione</span>
                                                    <ion-item *ngIf='editInfo'>
                                                        <ion-label>Partecipa alla sperimentazione</ion-label>
                                                        <ion-checkbox [(ngModel)]="thisKid.sperimentazione"></ion-checkbox>
                                                    </ion-item>
                                                </ion-col>
                                            </ion-row>
                                        </ion-grid>
                                    </ion-card-content>
                                </ion-card>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col col-sm-12>
                                <ion-card>
                                    <ion-card-header>
                                        Foto del bambino
                                        <button class='edit' ion-button color='magenta1' float-end *ngIf='!editFoto' (click)="onFotoEdit()">Modifica</button>
                                        <button class='edit' ion-button color='magenta1' float-end *ngIf='editFoto' (click)="onFotoSave()">Salva</button>
                                        <button class='edit' margin-right ion-button color='grey2' float-end *ngIf='editFoto' (click)="onFotoCancel()">Annulla</button>
                                    </ion-card-header>
                                    <ion-card-content margin-top>
                                        <ion-item style="height:120px">
                                            <ion-thumbnail item-start style="height: 100%; width: auto">
                                                <img src="{{thisKid.image}}" style="height: 100%; width: auto" />
                                            </ion-thumbnail>
                                            <input #inputFile type='file' style='display: none' (change)='handleChange($event)' accept="image/gif, image/png, image/jpeg, image/bmp, image/webp" />
                                            <button ion-button color='green1' (click)='inputFile.click()' *ngIf='editFoto'>Aggiungi immagine</button>
                                        </ion-item>
                                    </ion-card-content>
                                </ion-card>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col col-sm-12>
                                <ion-card>
                                    <ion-card-header>
                                        Allergie
                                        <button class='edit' ion-button color='magenta1' float-end *ngIf='!editAllergia' (click)="onAllergiaEdit()">Modifica</button>
                                        <button class='edit' ion-button color='magenta1' float-end *ngIf='editAllergia' (click)="onAllergiaSave()">Salva</button>
                                        <button class='edit' margin-right ion-button color='grey2' float-end *ngIf='editAllergia' (click)="onAllergiaCancel()">Annulla</button>
                                    </ion-card-header>
                                    <ion-card-content margin-top>
                                        <ion-grid *ngIf="editAllergia" no-padding no-margin><ion-row><ion-col col-3>
                                            <ion-item class="ome" no-padding no-margin>
                                                <input type='text' id='giord' [(ngModel)]="newAllergia" placeholder="Inserisci allergia" no-padding no-margin>
                                                <ion-icon name="add-circle" color="green3" (click)="addAllergia(newAllergia)" item-end></ion-icon>    
                                            </ion-item> 
                                        </ion-col></ion-row></ion-grid>
                                        <ion-list>
                                            <ion-item *ngFor="let item of thisKid.allergie">
                                                {{item}}
                                                <ion-icon *ngIf="thisKid.allergie.length > 0 && editAllergia" name="close" float-end (click)="removeAllergia(item)"></ion-icon>
                                            </ion-item>
                                            <ion-item *ngIf="thisKid.allergie.length === 0">Nessuna allergia</ion-item> 
                                        </ion-list>
                                    </ion-card-content>
                                </ion-card>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col col-sm-12>
                                <ion-card>
                                    <ion-card-header>
                                        Servizi attivi
                                        <button class='edit' ion-button color='magenta1' float-end *ngIf='!editService' (click)="onServiceEdit()">Modifica</button>
                                        <button class='edit' ion-button color='magenta1' float-end *ngIf='editService' (click)="onServiceSave()">Salva</button>
                                        <button class='edit' margin-right ion-button color='grey2' float-end *ngIf='editService' (click)="onServiceCancel()">Annulla</button>
                                    </ion-card-header>
                                    <ion-card-content margin-top>
                                        <ion-list *ngIf="!editService" >
                                            <ion-item *ngFor="let item of thisKid.services" >{{item.servizio}}</ion-item>
                                            <ion-item *ngIf="thisKid.services.length === 0">Nessun servizio extra</ion-item> 
                                        </ion-list>
                                        <ion-list *ngIf="editService">
                                            <div *ngFor="let item of selectedSchool.servizi">
                                                <ion-item *ngIf="!item.normale">
                                                    <ion-label>{{item.servizio}}</ion-label>
                                                    <ion-checkbox [(ngModel)]="servicesChecked[item.servizio]" (ionChange)="changeServices()"></ion-checkbox>
                                                </ion-item>
                                            </div>
                                        </ion-list>
                                    </ion-card-content>
                                </ion-card>
                            </ion-col>
                        </ion-row> 
                        <ion-row>
                            <ion-col col-sm-12>
                                <ion-card>
                                    <ion-card-header>
                                        Sezione e gruppi
                                    </ion-card-header>
                                    <ion-card-content margin-top>
                                        <ion-list>
                                            <ion-item *ngFor="let item of selectedKidGroups">{{item.name}}</ion-item>
                                            <ion-item *ngIf="selectedKidGroups.length === 0" style='color: grey'>
                                                Nessun gruppo o sezione <br />
                                                Creando una sezione o un gruppo e associandolo a questa/o bambina/o lo vedrai apparire in questa sezione
                                            </ion-item> 
                                        </ion-list>
                                    </ion-card-content>
                                </ion-card>
                            </ion-col>
                        </ion-row>  
                    </ion-grid>
                </div>
                <div *ngSwitchCase="'genitori'">
                    <ion-grid inset>
                        <ion-row>
                            <ion-col col-12>
                                <ion-card>
                                    <ion-card-header>
                                        Genitore 1
                                    </ion-card-header>
                                    <ion-card-content margin-top>
                                        <ion-card>
                                            <ion-card-header>
                                                Informazioni di base
                                                <button class='edit' ion-button color='magenta1' float-end *ngIf='!editP1Info' (click)="onP1InfoEdit()">Modifica</button>
                                                <button class='edit' ion-button color='magenta1' float-end *ngIf='editP1Info' (click)="onP1InfoSave()">Salva</button>
                                                <button class='edit' margin-right ion-button color='grey2' float-end *ngIf='editP1Info' (click)="onP1InfoCancel()">Annulla</button>
                                            </ion-card-header>
                                            <ion-card-content margin-top>
                                                <ion-grid inset>
                                                    <ion-row margin-bottom>
                                                        <ion-col col-2>
                                                            C.F. (ID):
                                                        </ion-col>
                                                        <ion-col col-10>
                                                            <ion-input [(ngModel)]="thisKid.parent1.id" [disabled]='!editP1Info' no-margin></ion-input>
                                                        </ion-col>
                                                    </ion-row>
                                                    <ion-row margin-bottom>
                                                        <ion-col col-2>
                                                            Nome:
                                                        </ion-col>
                                                        <ion-col col-10>
                                                            <ion-input [(ngModel)]="thisKid.parent1.name" [disabled]='!editP1Info' no-margin></ion-input>
                                                        </ion-col>
                                                    </ion-row>
                                                    <ion-row margin-bottom>
                                                        <ion-col col-2>
                                                            Cognome:
                                                        </ion-col>
                                                        <ion-col col-10>
                                                            <ion-input [(ngModel)]="thisKid.parent1.surname" [disabled]='!editP1Info' no-margin></ion-input>
                                                        </ion-col>
                                                    </ion-row>
                                                </ion-grid>
                                            </ion-card-content>
                                        </ion-card>
                                        <ion-card>
                                            <ion-card-header>
                                                Contatti
                                                <button class='edit' ion-button color='magenta1' float-end *ngIf='!editP1Contatti' (click)="onP1ContattiEdit()">Modifica</button>
                                                <button class='edit' ion-button color='magenta1' float-end *ngIf='editP1Contatti' (click)="onP1ContattiSave()">Salva</button>
                                                <button class='edit' margin-right ion-button color='grey2' float-end *ngIf='editP1Contatti' (click)="onP1ContattiCancel()">Annulla</button>
                                            </ion-card-header>
                                            <ion-card-content margin-top>
                                                <ion-grid inset>
                                                    <ion-row margin-bottom>
                                                        <ion-col col-2>
                                                            Telefono:
                                                        </ion-col>
                                                        <ion-col col-10>
                                                            <ion-input [(ngModel)]="thisKid.parent1.telephone" [disabled]='!editP1Contatti' no-margin></ion-input>
                                                        </ion-col>
                                                    </ion-row>
                                                    <ion-row margin-bottom>
                                                        <ion-col col-2>
                                                            Cellulare:
                                                        </ion-col>
                                                        <ion-col col-10>
                                                            <ion-input [(ngModel)]="thisKid.parent1.cellphone" [disabled]='!editP1Contatti' no-margin></ion-input>
                                                        </ion-col>
                                                    </ion-row>
                                                    <ion-row margin-bottom>
                                                        <ion-col col-2>
                                                            Indirizzo email:
                                                        </ion-col>
                                                        <ion-col col-10>
                                                            <ion-input [(ngModel)]="thisKid.parent1.email" [disabled]='!editP1Contatti' no-margin></ion-input>
                                                        </ion-col>
                                                    </ion-row>
                                                </ion-grid>
                                            </ion-card-content>
                                        </ion-card>
                                    </ion-card-content>
                                </ion-card>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col col-12>
                                <ion-card>
                                    <ion-card-header>
                                        Genitore 2
                                    </ion-card-header>
                                    <ion-card-content margin-top>
                                        <ion-card>
                                            <ion-card-header>
                                                Informazioni di base
                                                <button class='edit' ion-button color='magenta1' float-end *ngIf='!editP2Info' (click)="onP2InfoEdit()">Modifica</button>
                                                <button class='edit' ion-button color='magenta1' float-end *ngIf='editP2Info' (click)="onP2InfoSave()">Salva</button>
                                                <button class='edit' margin-right ion-button color='grey2' float-end *ngIf='editP2Info' (click)="onP2InfoCancel()">Annulla</button>
                                            </ion-card-header>
                                            <ion-card-content margin-top>
                                                <ion-grid inset>
                                                    <ion-row margin-bottom>
                                                        <ion-col col-2>
                                                            C.F. (ID):
                                                        </ion-col>
                                                        <ion-col col-10>
                                                            <ion-input [(ngModel)]="thisKid.parent2.id" [disabled]='!editP2Info' no-margin></ion-input>
                                                        </ion-col>
                                                    </ion-row>
                                                    <ion-row margin-bottom>
                                                        <ion-col col-2>
                                                            Nome:
                                                        </ion-col>
                                                        <ion-col col-10>
                                                            <ion-input [(ngModel)]="thisKid.parent2.name" [disabled]='!editP2Info' no-margin></ion-input>
                                                        </ion-col>
                                                    </ion-row>
                                                    <ion-row margin-bottom>
                                                        <ion-col col-2>
                                                            Cognome:
                                                        </ion-col>
                                                        <ion-col col-10>
                                                            <ion-input [(ngModel)]="thisKid.parent2.surname" [disabled]='!editP2Info' no-margin></ion-input>
                                                        </ion-col>
                                                    </ion-row>
                                                </ion-grid>
                                            </ion-card-content>
                                        </ion-card>
                                        <ion-card>
                                            <ion-card-header>
                                                Contatti
                                                <button class='edit' ion-button color='magenta1' float-end *ngIf='!editP2Contatti' (click)="onP2ContattiEdit()">Modifica</button>
                                                <button class='edit' ion-button color='magenta1' float-end *ngIf='editP2Contatti' (click)="onP2ContattiSave()">Salva</button>
                                                <button class='edit' margin-right ion-button color='grey2' float-end *ngIf='editP2Contatti' (click)="onP2ContattiCancel()">Annulla</button>
                                            </ion-card-header>
                                            <ion-card-content margin-top>
                                                <ion-grid inset>
                                                    <ion-row margin-bottom>
                                                        <ion-col col-2>
                                                            Telefono:
                                                        </ion-col>
                                                        <ion-col col-10>
                                                            <ion-input [(ngModel)]="thisKid.parent2.telephone" [disabled]='!editP2Contatti' no-margin></ion-input>
                                                        </ion-col>
                                                    </ion-row>
                                                    <ion-row margin-bottom>
                                                        <ion-col col-2>
                                                            Cellulare:
                                                        </ion-col>
                                                        <ion-col col-10>
                                                            <ion-input [(ngModel)]="thisKid.parent2.cellphone" [disabled]='!editP2Contatti' no-margin></ion-input>
                                                        </ion-col>
                                                    </ion-row>
                                                    <ion-row margin-bottom>
                                                        <ion-col col-2>
                                                            Indirizzo email:
                                                        </ion-col>
                                                        <ion-col col-10>
                                                            <ion-input [(ngModel)]="thisKid.parent2.email" [disabled]='!editP2Contatti' no-margin></ion-input>
                                                        </ion-col>
                                                    </ion-row>
                                                </ion-grid>
                                            </ion-card-content>
                                        </ion-card>
                                    </ion-card-content>
                                </ion-card>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </div> 
                <div *ngSwitchCase="'autorizza'">
                    <ion-grid inset>
                        <ion-row>
                            <ion-col col-12>
                                <button ion-button color='green1' float-end margin-top (click)='addDelega()'>Aggiungi delega</button>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col col-12>
                                <ion-card>
                                    <ion-card-header>
                                        Persone autorizzate
                                    </ion-card-header>
                                    <ion-card-content>
                                        <ion-list inset>
                                            <ion-item *ngFor="let item of thisKid.deleghe">
                                                <h2>{{item.name}} {{item.surname}}</h2>
                                                <h3>{{item.legame}}</h3>
                                                <ion-icon name="eye" item-end color="magenta1" style="margin-right: 30px" (click)="onSelectDelega(item)"></ion-icon> 
                                                <ion-icon name="trash" item-end color="magenta1" style="margin-right: 10px" (click)="onDeleteDelega(item)"></ion-icon>
                                            </ion-item>
                                        </ion-list>
                                    </ion-card-content>
                                </ion-card>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col col-12>
                                <div *ngIf="selectedDelega">
                                    <ion-card>
                                        <ion-card-header>
                                             <ion-fab style="top: -5px; right: -5px">
                                                <button ion-fab mini *ngIf="!editD" (click)="this.selectedDelega = undefined" color='magenta1'><ion-icon name="close"></ion-icon></button>
                                            </ion-fab> 
                                            {{selectedDelega.name}} {{selectedDelega.surname}}
                                        </ion-card-header>
                                        <ion-card-content>
                                        <ion-grid>
                                            <!-- <ion-row>
                                                <ion-col col-4>
                                                    <ion-grid inset>
                                                        <ion-row margin-bottom>
                                                            <ion-col col-2>
                                                                Ruolo
                                                            </ion-col>
                                                            <ion-col col-10>
                                                                <ion-select [(ngModel)]="selectedDelega.legame" interface='popover' *ngIf="editD">
                                                                    <ion-option value="Nonno/a">Nonno/a</ion-option>
                                                                    <ion-option value="Zio/a">Zio/a</ion-option>
                                                                    <ion-option value="Fratello/Sorella">Fratello/Sorella (maggiorenne)</ion-option>
                                                                    <ion-option value="Altro">Altro</ion-option>
                                                                </ion-select>
                                                                <span *ngIf="!editD" style="padding-left: 8px;">{{selectedDelega.legame}}</span>
                                                            </ion-col>
                                                        </ion-row>
                                                    </ion-grid>
                                                </ion-col>
                                            </ion-row> -->
                                            <ion-row>
                                                <ion-col col-12>
                                                    <ion-card>
                                                        <ion-card-header>
                                                            Informazioni di base
                                                            <button class='edit' ion-button color='magenta1' float-end *ngIf='!editDelegaInfo' (click)="onDelegaInfoEdit()">Modifica</button>
                                                            <button class='edit' ion-button color='magenta1' float-end *ngIf='editDelegaInfo' (click)="onDelegaInfoSave()">Salva</button>
                                                            <button class='edit' margin-right ion-button color='grey2' float-end *ngIf='editDelegaInfo' (click)="onDelegaInfoCancel()">Annulla</button>
                                                        </ion-card-header>
                                                        <ion-card-content margin-top>
                                                            <ion-grid inset>
                                                                <ion-row margin-bottom>
                                                                    <ion-col col-2>
                                                                        C.F. (ID):
                                                                    </ion-col>
                                                                    <ion-col col-10>
                                                                        <ion-input [(ngModel)]="selectedDelega.id" [disabled]='!isNewD' no-margin></ion-input>
                                                                    </ion-col>
                                                                </ion-row>
                                                                <ion-row margin-bottom>
                                                                    <ion-col col-2>
                                                                        Nome:
                                                                    </ion-col>
                                                                    <ion-col col-10>
                                                                        <ion-input [(ngModel)]="selectedDelega.name" [disabled]='!editDelegaInfo' no-margin></ion-input>
                                                                    </ion-col>
                                                                </ion-row>
                                                                <ion-row margin-bottom>
                                                                    <ion-col col-2>
                                                                        Cognome:
                                                                    </ion-col>
                                                                    <ion-col col-10>
                                                                        <ion-input [(ngModel)]="selectedDelega.surname" [disabled]='!editDelegaInfo' no-margin></ion-input>
                                                                    </ion-col>
                                                                </ion-row>
                                                                <ion-row>
                                                                    <ion-col col-2>
                                                                        Ruolo
                                                                    </ion-col>
                                                                    <ion-col col-10>
                                                                        <ion-select [(ngModel)]="selectedDelega.legame" interface='popover' *ngIf="editDelegaInfo">
                                                                            <ion-option value="Nonno/a">Nonno/a</ion-option>
                                                                            <ion-option value="Zio/a">Zio/a</ion-option>
                                                                            <ion-option value="Fratello/Sorella">Fratello/Sorella (maggiorenne)</ion-option>
                                                                            <ion-option value="Altro">Altro</ion-option>
                                                                        </ion-select>
                                                                        <span *ngIf="!editDelegaInfo" style="padding-left: 8px;">{{selectedDelega.legame}}</span>
                                                                    </ion-col>
                                                                </ion-row>
                                                            </ion-grid>
                                                        </ion-card-content>
                                                    </ion-card>
                                                    <ion-card>
                                                        <ion-card-header>
                                                            Contatti
                                                            <button class='edit' ion-button color='magenta1' float-end *ngIf='!editDelegaAutor' (click)="onDelegaContattiEdit()">Modifica</button>
                                                            <button class='edit' ion-button color='magenta1' float-end *ngIf='editDelegaContatti' (click)="onDelegaContattiSave()">Salva</button>
                                                            <button class='edit' margin-right ion-button color='grey2' float-end *ngIf='editDelegaContatti' (click)="onDelegaContattiCancel()">Annulla</button>
                                                        </ion-card-header>
                                                        <ion-card-content margin-top>
                                                            <ion-grid inset>
                                                                <ion-row margin-bottom>
                                                                    <ion-col col-2>
                                                                        Telefono:
                                                                    </ion-col>
                                                                    <ion-col col-10>
                                                                        <ion-input [(ngModel)]="selectedDelega.telephone" [disabled]='!editDelegaAutor' no-margin></ion-input>
                                                                    </ion-col>
                                                                </ion-row>
                                                                <ion-row margin-bottom>
                                                                    <ion-col col-2>
                                                                        Cellulare:
                                                                    </ion-col>
                                                                    <ion-col col-10>
                                                                        <ion-input [(ngModel)]="selectedDelega.cellphone" [disabled]='!editDelegaAutor' no-margin></ion-input>
                                                                    </ion-col>
                                                                </ion-row>
                                                                <ion-row margin-bottom>
                                                                    <ion-col col-2>
                                                                        Indirizzo email:
                                                                    </ion-col>
                                                                    <ion-col col-10>
                                                                        <ion-input [(ngModel)]="selectedDelega.email" [disabled]='!editDelegaAutor' no-margin></ion-input>
                                                                    </ion-col>
                                                                </ion-row>
                                                            </ion-grid>
                                                        </ion-card-content>
                                                    </ion-card>
                                                    <ion-card>
                                                        <ion-card-header>
                                                            Autorizzazione
                                                            <button class='edit' ion-button color='magenta1' float-end *ngIf='!editDelegaAutor' (click)="onDelegaAutorEdit()">Modifica</button>
                                                            <button class='edit' ion-button color='magenta1' float-end *ngIf='editDelegaAutor' (click)="onDelegaAutorSave()">Salva</button>
                                                            <button class='edit' margin-right ion-button color='grey2' float-end *ngIf='editDelegaAutor' (click)="onDelegaAutorCancel()">Annulla</button>
                                                        </ion-card-header>
                                                        <ion-card-content margin-top>
                                                            <ion-grid inset>
                                                                <ion-row margin-bottom>
                                                                    <ion-col col-2>
                                                                        Scadenza autorizzazione:
                                                                    </ion-col>
                                                                    <ion-col col-10>
                                                                        <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="selectedDelega.scadenza" [disabled]='!editDelegaAutor' no-margin></ion-datetime >
                                                                    </ion-col>
                                                                </ion-row>
                                                                <ion-row margin-bottom>
                                                                    <ion-col col-12>
                                                                        <span *ngIf='selectedDelega.maggiorenne && !editDelegaAutor'>La persona dichiara di essere maggiorenne</span>
                                                                        <ion-item *ngIf='editDelegaAutor'>
                                                                            <ion-label>Dichiara di essere maggiorenne</ion-label>
                                                                            <ion-checkbox [(ngModel)]="selectedDelega.maggiorenne"></ion-checkbox>
                                                                        </ion-item>
                                                                    </ion-col>
                                                                </ion-row>
                                                            </ion-grid>
                                                        </ion-card-content>
                                                    </ion-card>
                                                </ion-col>
                                            </ion-row>
                                        </ion-grid>
                                        </ion-card-content>
                                    </ion-card>
                                </div> 
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </div>
            </div>
        </ion-col>
        <ion-col col-1><p></p></ion-col>
    </ion-row>
</ion-grid>