<ion-header>
  <ion-navbar color="grey2">
    <ion-title float-start margin-left>
       <img src="assets/images/icona_navbar.png"  style='height: 98px; width:auto;'/>
    </ion-title>
    <button ion-button icon-only float-end color="green2" margin-right> <ion-icon name="exit"></ion-icon></button>
      <button ion-button float-end color="green2" margin-right> 
        <ion-label>Scuola</ion-label>
        <ion-select [(ngModel)]='selectedId' (ngModelChange)="onSchoolChange(selectedId)" interface='popover'>
          <ion-option *ngFor="let item of schools" value="{{item.id}}" >{{item.id}} - {{item.name}}</ion-option>
        </ion-select>
      </button> 
      <ion-segment margin-top [(ngModel)]="settings" (ngModelChange)="onSegmentChange()" color="light" style="background-color: #ccc; width: 87%" *ngIf="selectedSchool" float-right>
        <ion-segment-button value="profilo">
          Home
        </ion-segment-button>
        <ion-segment-button value="servizi">
          Orari e servizi
        </ion-segment-button>
        <ion-segment-button value="gruppi_sezioni"> 
          Gruppi e sezioni
        </ion-segment-button>
        <ion-segment-button value="bus">
          Bus
        </ion-segment-button>
        <ion-segment-button value="insegnanti">
          Insegnanti
        </ion-segment-button>
        <ion-segment-button value="bambini">
          Bambini
        </ion-segment-button>
      </ion-segment>
  </ion-navbar>
</ion-header>

<ion-content padding margin>
  <ion-grid *ngIf="selectedSchool">
    <ion-col col-12>
      <div [ngSwitch]="settings">
        <div *ngSwitchCase="'profilo'">
          <info [selectedSchool]='selectedSchool'></info>
        </div>
        <div *ngSwitchCase="'gruppi_sezioni'">
          <gruppi [selectedSchool]="selectedSchool"></gruppi>
        </div>
        <div *ngSwitchCase="'bus'">
          <buses [selectedSchool]="selectedSchool"></buses>
        </div>
        <div *ngSwitchCase="'insegnanti'">
          <insegnanti [selectedSchool]="selectedSchool"></insegnanti>
        </div>
        <div *ngSwitchCase="'bambini'">
          <!-- <router-outlet></router-outlet> -->
          <bambini [selectedSchool]="selectedSchool"></bambini>
        </div>
      </div>
    </ion-col> 
  </ion-grid>
</ion-content>
