<ion-header>
    <ion-navbar>
        <ion-title text-center>
             {{selectedTeacher.name}} {{selectedTeacher.surname}}
        </ion-title>
        <ion-buttons start>
            <button ion-button (click)="close()">Annulla</button>
        </ion-buttons>
        <ion-buttons end>
            <button ion-button (click)="save()" [disabled]='!(newTeacher.name && newTeacher.surname && newTeacher.id)'>Salva</button>
        </ion-buttons>
            
    </ion-navbar>
</ion-header>

<ion-content>
    <p style="color: #ccc" text-center><ion-icon name="help-circle"></ion-icon> Tutti i campi contrassegnati dal simbolo * sono obbligatori</p>
    <ion-list inset>
        <ion-item>
            <ion-label floating>ID (C.F.)*</ion-label>
            <ion-input name="name" type="text" [(ngModel)]="newTeacher.id"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>Nome*</ion-label>
            <ion-input name="name" type="text" [(ngModel)]="newTeacher.name"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>Cognome*</ion-label>
            <ion-input name="name" type="text" [(ngModel)]="newTeacher.surname"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>Telefono</ion-label>
            <ion-input name="tel" type="text" [(ngModel)]="newTeacher.telephone"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>Cellulare</ion-label>
            <ion-input name="tel" type="text" [(ngModel)]="newTeacher.cellphone"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>E-Mail</ion-label>
            <ion-input name="email" type="text" [(ngModel)]="newTeacher.email"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>PIN*</ion-label>
            <ion-input name="text" type="text" [(ngModel)]="newTeacher.pin"></ion-input>
        </ion-item>
    </ion-list>
    <hr/>
    <ion-list inset>
        <ion-list-header>Sezioni e gruppi</ion-list-header>
        <ion-item *ngFor="let gr of newTeacherGroups">
            {{gr.name}}
            <ion-icon name="close" float-end (click)="removeGroup(gr)"></ion-icon>
        </ion-item>
    </ion-list>
</ion-content>