<ion-header>
    <ion-navbar>
        <ion-title text-center>
             {{selectedTeacher.name}} {{selectedTeacher.surname}}
        </ion-title>
        <ion-buttons start>
            <button ion-button (click)="close()">Annulla</button>
        </ion-buttons>
        <ion-buttons end>
            <button ion-button (click)="save()" [disabled]='!(copiedTeacher.name && copiedTeacher.surname && copiedTeacher.id && copiedTeacher.pin)'>Salva</button>
        </ion-buttons>
            
    </ion-navbar>
</ion-header>

<ion-content>
    <p style="color: #ccc" text-center><ion-icon name="help-circle"></ion-icon> Tutti i campi contrassegnati dal simbolo * sono obbligatori</p>
    <ion-list inset>
        <ion-grid inset>
            <ion-row>
                <ion-col col-2><p></p></ion-col>
                <ion-col col-8>
                    <ion-item>
                        <ion-label floating>ID (C.F.)*</ion-label>
                        <ion-input name="name" type="text" [(ngModel)]="copiedTeacher.id" [disabled]='!isNew'></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col col-2><p></p></ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-2><p></p></ion-col>
                <ion-col col-8>
                    <ion-item>
                        <ion-label floating>Nome*</ion-label>
                        <ion-input name="name" type="text" [(ngModel)]="copiedTeacher.name"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col col-2><p></p></ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-2><p></p></ion-col>
                <ion-col col-8>
                    <ion-item>
                        <ion-label floating>Cognome*</ion-label>
                        <ion-input name="name" type="text" [(ngModel)]="copiedTeacher.surname"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col col-2><p></p></ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-2><p></p></ion-col>
                <ion-col col-8>
                    <ion-item>
                        <ion-label floating>Telefono</ion-label>
                        <ion-input name="tel" type="text" [(ngModel)]="copiedTeacher.telephone"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col col-2><p></p></ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-2><p></p></ion-col>
                <ion-col col-8>
                    <ion-item>
                        <ion-label floating>Cellulare</ion-label>
                        <ion-input name="tel" type="text" [(ngModel)]="copiedTeacher.cellphone"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col col-2><p></p></ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-2><p></p></ion-col>
                <ion-col col-8>
                    <ion-item>
                        <ion-label floating>E-Mail</ion-label>
                        <ion-input name="email" type="text" [(ngModel)]="copiedTeacher.email"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col col-2><p></p></ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-2><p></p></ion-col>
                <ion-col col-8>
                    <ion-item>
                        <ion-label floating>PIN*</ion-label>
                        <ion-input name="text" type="text" [(ngModel)]="copiedTeacher.pin"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col col-2><p></p></ion-col>
            </ion-row>
        </ion-grid>
    </ion-list>
    <ion-grid inset>
        <ion-row>
            <ion-col col-2><p></p></ion-col>
            <ion-col col-8>
                <ion-list inset>
                    <ion-list-header>Sezioni e gruppi</ion-list-header>
                    <ion-item *ngFor="let gr of selectedTeacherGroups">
                        {{gr.name}}
                        <ion-icon name="close" float-end (click)="onRemoveGroup(gr)"></ion-icon>
                    </ion-item>
                </ion-list>
            </ion-col>
            <ion-col col-2><p></p></ion-col>
        </ion-row>
    </ion-grid>    
</ion-content>