<ion-grid inset>
  <ion-row>
    <ion-col col-12>
      <button ion-button color="green1" float-end margin-top (click)="newBusModal()">Aggiungi autobus</button>
    </ion-col>
    <ion-col col-12>
      <hr />
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-4>
      <ion-item>
        <ion-label floating>Ordine</ion-label>
        <ion-select [(ngModel)]='ordine' (ngModelChange)="onOrdineChange(ordine)" interface='popover'>
          <ion-option value='0'>Alfabetico (nome) A-Z</ion-option>
          <ion-option value='1'>Alfabetico (nome) Z-A</ion-option>
          <ion-option value='2'>Alfabetico (capolinea) A-Z</ion-option>
          <ion-option value='3'>Alfabetico (capolinea) Z-A</ion-option>
          <ion-option value='4'>N. Bambini (dal piu grande)</ion-option>
          <ion-option value='5'>N. Bambini (dal piu piccolo)</ion-option>
        </ion-select>
      </ion-item>
    </ion-col>
    <ion-col col-4>
      <p></p>
    </ion-col>
    <ion-col col-4>
      <ion-item>
          <ion-label floating>Cerca (nome)</ion-label> 
        <ion-input (input)="searchBus($event)"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-12>
      <p float-end>Totale autobus trovati: {{filteredBus.length}}</p>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-12>
      <ion-list>
        <ion-item *ngFor="let item of filteredBus">
          <ion-icon name="bus" item-start color="green3" ></ion-icon>
          {{item.name}} ({{item.capolinea}})
          <button ion-button color="green2" class='btnBus' item-end [disabled]='true' style='margin-right: 300px'>{{item.kids.length}} Bambini</button>
          <ion-icon name="md-create" item-end color="magenta1" style="margin-right: 30px" (click)="showBusModal(item, false)"></ion-icon>
          <ion-icon name="trash" item-end color="magenta1" style="margin-right: 10px" (click)="onDeleteBus(item)"></ion-icon>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-grid>