/* Empty. Add your own CSS if you like */

body {
    /*padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;*/
    /*font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;*/
}

.circle {
    position: absolute;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: transparent;
    border: 10px solid white;
    border-color: #009688;
    margin-left: 10%;
}

.menu-item {
    margin-left: 15px;
}

.menu-item img {
    height: 32px;
    width: 32px;
}

.home-circle {
    color: #d4145a
}

.menu-item p {
    margin-top: 5px;
}

.avatar-teacher {
    border-color: transparent;
}

.tabs {
    border-color: #009688;
    background-color: #009688;
    color: #fff;
}

.modal-backdrop .modal-backdrop-bg {
    -webkit-transition: opacity 300ms ease-in-out;
    transition: opacity 300ms ease-in-out;
    opacity: 0;
    background-color: #000;
}

.page-padding {
    margin-left: 10px;
    margin-right: 15px;
}

.retireDiv {
    padding-left: 20px;
}

.temporaryDelegate {
    color: red;
}

.retireInput {
    margin-left: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.input-description-padding {
    margin-top: 24px;
}

.input-padding {
    padding-left: 0;
    padding-right: 0;
    margin-top: -5px;
}

.retireFullName {
    float: left;
    width: 50px;
}

.delegate-label {
    color: #7b9e2a;
    text-align: right;
    width: 75%;
}

.delegate-field {
    color: #7b9e2a;
    text-align: right;
    width: 80%;
}

.delegate-field.description {
    font-size: 12px;
    margin-top: 0px;
    margin-bottom: -10px;
}

.delegate-field.add-image {
    margin-top: 0px;
    margin-left: 15px;
}

.delegate-input {
    text-align: center;
    margin-top: 6px;
}

.no-padding {
    padding-left: 0;
    padding-right: 0;
}

.item.item-checkbox.delegate {
    font-size: 12px;
    font-weight: bold;
    border-color: transparent;
    margin-top: -5px;
}

.item.item-checkbox.delegate.no-bold {
    font-weight: normal;
}

input[type=text] {
    border-bottom: 1px solid #98ba3c;
    width: 100%;
    font-size: 20px;
}

.icon.ion-image.gallery {
    margin-left: 15px;
    border: transparent;
    background: transparent;
    font-size: 20px;
}

.modal-backdrop.active .modal-backdrop-bg {
    opacity: 0.8;
}

.row.calendar-month {
    margin-top: -10px;
}

.row.calendar-container {
    height: 40px;
}

.col.calendar-month {
    padding-top: 0px;
    margin-bottom: -5px;
    text-align: center;
}

.calendar-month {
    font-size: 20px;
    margin-top: 7px;
}

.calendar-arrow {
    background: transparent;
    border-color: transparent;
    padding-top: 6px;
    font-size: 15px;
}

.calendar-arrow.left {
    margin-left: 10px;
}

.calendar-arrow.right {
    float: right;
    margin-right: 10px;
}

.calendar-container {
    text-align: center;
}

.calendar-container.day {
    margin-right: 3px;
    margin-left: 3px;
    margin-bottom: 5px;
}

.color-container {
    display: inline;
}

.color-box {
    width: 13px;
    height: 13px;
    display: inline-block;
}

.color-text {
    margin-right: 10px;
    margin-bottom: 15px;
    font-size: 15px;
    display: inline-block;
}

.calendar-background {
    background: #C8C8CD;
}

.calendar-day-background {
    background: #FFFFFF;
}

.canteen {}

.canteen.col-description {
    text-align: center;
    font-size: 16px;
    height: 25px;
    margin-top: 5px;
}

.canteen.food-description {
    text-align: center;
}

.canteen.weekly-date {
    margin-left: 10px;
}

.canteen.daily-description {
    background: #93DAF2;
    font-weight: bold;
    width: 100vh;
}

.canteen.daily-text {
    margin-left: 10px;
}

.canteen.food-image {
    text-align: center;
    border-right: 1px solid;
    border-right: 3px solid #2DAAE1;
    border-left: 3px solid #2DAAE1;
}

.canteen.day-container {
    text-align: center;
    background: #93DAF2;
    border-right: 3px solid #2DAAE1;
    border-left: 3px solid #2DAAE1;
}

p {
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}


/*
#map {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
*/

@media screen and (orientation: portrait) {
    .angular-leaflet-map {
        width: 100%;
        height: 100%;
    }
    .row.actions-buttons {
        position: absolute;
        bottom: 0px;
    }
}

@media screen and (orientation: landscape) {
    .angular-leaflet-map {
        width: 100%;
        height: 100%;
    }
    .row.actions-buttons {
        position: relative;
        bottom: 0px;
    }
}

.added-image {
    align-content: center;
}

.hidden {
    visibility: hidden;
}

.emptylist {
    text-align: center;
}

.button {
    text-transform: uppercase;
    font-size: 1em;
}

.button.button-fab {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 32px;
    padding: 32px;
    font-size: 40px;
    z-index: 9999;
}

.button.button-fab div {
    margin-top: 100%;
}

.button.button-fab div span {
    position: absolute;
    left: 0;
    top: 50%;
    height: 100%;
    width: 100%;
    text-align: center;
    margin-top: -20px;
    /* Note, this must be half the font size */
}

.button.button-percorsi {
    border-color: #01b2c4;
    background-color: #01b2c4;
    color: #fff;
}

.button.button-percorsi.add-image {
    margin: 15px;
}

.button.button-percorsi.button-clear {
    border: none;
    background: none;
    color: #01b2c4;
}

.button.button-percorsi.button-start {
    bottom: 0px;
    z-index: 99;
}

.bar.bar-ungiorno {
    border-color: #98ba3c;
    background-color: #98ba3c;
    /*background-image: none;*/
    color: #fff;
}

.bar.bar-ungiorno h1,
.bar.bar-ungiorno h2 {
    color: white;
}

.bar.bar-ungiorno .button {
    border-color: transparent;
    background-color: transparent;
    color: #fff;
}

.bar.bar-ungiorno.bar-teachers {
    height: 93px;
}

.leftmenu {
    /*    padding-top: 50px;*/
    background-color: #98ba3c;
}

.tab-item-active {
    border: #fff !important;
}

.wrapper {
    position: relative;
    display: table;
    align-content: center;
    margin: 0 auto;
}

.wrapper img {
    display: block;
}

.image-added {
    display: block;
    margin-left: auto;
    margin-right: auto
}

#addimages-modal .types-buttons {
    padding-top: 16px;
    text-align: center;
}

#addimages-modal .actions-buttons {
    text-align: center;
}

#addimages-modal .scroll {
    height: 100%;
}

.close:before {
    content: '✕';
    color: white;
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

.add-image-poi-select {
    text-align: left;
    margin: 16px;
}

.button.button-icon.icon.myback {
    padding: 0px;
    border: 0px;
    margin: 0px;
    text-align: center;
}

.image.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.poi-list-item {
    /*    margin-top: 10px;*/
    color: #000000;
    position: absolute;
    padding: 28px;
    top: 0;
    left: 0;
}

.poi-list-item-container {
    padding: 0 !important;
    margin-bottom: 2px;
}

.poi-list-item-bg {
    background-size: 100%;
    width: 100%;
    height: 72px;
    opacity: 0.2;
}

.item.item-stable {
    border-color: #ffffff;
    background-color: #ffffff;
    text-align: right;
}

.text-button {
    color: #01b2c4;
}

.item.active.item-stable {
    border-color: #ffffff;
    background-color: #ffffff;
}

.item-accordion {
    line-height: 38px;
    padding-top: 0;
    padding-bottom: 0;
    transition: 0.09s all linear;
    border-width: 0px;
}

.item-accordion.ng-hide {
    line-height: 0px;
}

.item-accordion.ng-hide-add,
.item-accordion.ng-hide-remove {
    display: block !important;
}

.separator {
    border-bottom: 2px solid #9E9E9E;
}

.description-info {
    transition: 0.50s;
    max-height: 4em;
    text-align: justify;
    text-overflow: ellipsis;
    overflow: hidden;
}

.expanded .description-info {
    transition: 0.50s;
    text-align: justify;
    max-height: 500em;
    text-overflow: clip;
    overflow: auto;
    white-space: normal;
}

.fadeout {
    position: absolute;
    bottom: 0em;
    width: 100%;
    height: 5em;
    background: -webkit-linear-gradient( rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    background-image: -moz-linear-gradient( rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    background-image: -o-linear-gradient( rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    background-image: linear-gradient( rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    background-image: -ms-linear-gradient( rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
}

.expanded .fadeout {
    background-image: none;
    background: transparent;
}

.sectionPeriod {
    position: relative;
    text-align: center;
}

.sectionBabyIndicator {
    max-height: 200px;
    max-width: 200px;
}

.home-separator {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 40px;
    margin-bottom: 20px;
    height: 1px;
    background-color: #000;
}

.audio-title {
    padding-left: 6px;
}

.info-title {
    padding-left: 6px;
}

.centered {
    vertical-align: middle;
}

.gallery-tile {
    position: relative;
    text-align: center;
}

.gallery-tile i.play-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    color: #fff;
    opacity: 0.5;
    font-size: 5em;
}

.button.button-balloon {
    margin: 0px;
}

.voice-menu {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.square {
    float: left;
    position: relative;
    width: 30%;
    padding-bottom: 30%;
    /* = width for a 1:1 aspect ratio */
    margin: 1.66%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    /* you change this to "contain" if you don't want the images to be cropped */
}

.gallery-square {
    height: 150px;
    background-position: center center;
}

.leaflet-container a.leaflet-popup-close-button {
    right: 4px;
    font: 24px/14px Tahoma, Verdana, sans-serif;
}

.gallery-tile .circle-type i.type-overlay {
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    color: #fff;
    font-size: 3em;
}

.number-map {
    color: #fff;
}

.text-pop-up {
    text-align: center;
}

.gallery-tile .circle-type {
    text-align: center;
    position: absolute;
    bottom: 10%;
    right: 2%;
    border-color: #e1e1e1;
    !important background-color: #e1e1e1;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    padding: 3px;
    font-size: 5px;
    z-index: 9999;
    min-height: 25px;
    min-width: 25px;
    height: 25px;
    width: 25px;
}

.button.button-percorsi.circle-type {
    border-color: #009688;
    background-color: #009688;
}

.type-overlay.sco-institutional:before {
    font-size: 12px !important;
    line-height: 17px !important;
}

.sco-institutional {
    padding-right: 16px;
}

.sco-public {
    padding-right: 16px;
}

.type-overlay.sco-public:before {
    font-size: 12px !important;
    line-height: 17px !important;
}

.titlegallery {
    float: center;
    text-align: center;
}

.typegallery {
    float: center;
    text-align: center;
    font-size: large;
    padding-right: 8px;
}

.credit {
    padding-top: 10px;
}

.title.add-image-title {
    text-align: center;
    margin: 15px;
}

.item-thumbnail-left .item-content>img:first-child {
    position: absolute;
    top: 0px;
    left: 0px;
    max-width: 120px;
    max-height: 100px;
}

.item-thumbnail-left .item-content {
    padding-left: 126px;
}

.menu,
.view,
.item,
.item > a {
    background: transparent;
    background-color: transparent !important;
}

.social-numbers i {
    font-size: 24px;
    /*2em;*/
}

.social-numbers span {
    /*    color: #009688;*/
    font-size: 18px;
    vertical-align: super;
}

.social-label {
    font-size: 18px;
    text-transform: uppercase;
}

.myreview {
    margin-bottom: 20px !important;
    border-width: 2px;
    border-color: #01b2c4;
}

.myreview .icon-rating {
    font-size: 24px;
}

.title.vote-title {
    text-align: center;
    margin: 15px;
}

.item-input {
    border-width: 0px 0px 1px 0px;
}

.credits_title {
    text-align: center;
    color: #009688;
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
}

.credits_subtitle {
    text-align: center;
    color: #009688;
    font-size: 18px;
    font-weight: bold;
}

.credits_row {
    padding: 0;
    margin-bottom: 10px;
}

.credits_row.last {
    margin-bottom: 20px;
}

.credits_row.version {
    color: #aaa;
}

.credits_row.version .col {
    font-size: 12px;
    line-height: 12px;
}

.credits_mail {
    color: black;
    font-size: 14px;
    font-weight: normal;
}

.credits_version {
    text-align: center;
}

.close-credits {
    padding: 8px;
}

.login-title {
    text-align: center;
    margin: 8px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: xx-large;
    color: white;
}

.sceltaMalattia {
    width: inherit;
    height: 50px;
}

.button-home {
    height: 100px;
}

.home_informations {
    margin: 10px;
}

.ion-input-select,
select {
    -webkit-appearance: none;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0);
    border: thin solid #dddddd;
    font-weight: 300;
    display: inline;
    vertical-align: middle;
    color: #333;
    padding: auto 0;
    overflow: hidden;
    box-sizing: border-box;
}

.ion-input-select {
    width: 200px;
    font-size: 1rem;
    background-image: url(http://i.imgur.com/nA9xx1X.png);
    text-indent: 20px;
    padding: .5rem 0;
}

#babysettingcell {
    padding: 5% 0;
}

#babysetting {
    padding: 10% 0;
}

.padlist>.list {
    padding: 10px;
}

.item-select.setting {
    border-bottom-width: 0px;
}

.button.redbutton {
    background-color: red;
}

.wrapper {
    position: relative;
    display: table;
    align-content: center;
    margin: 0 auto;
}

.wrapper img {
    display: block;
}

.close:before {
    content: '✕';
    color: white;
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

.babyProfile.detailsTitle {
    color: #7b9e2a;
    font-size: 18px;
}

.babyProfile.card {
    padding: 32px;
}

.babyProfile.note {
    padding: 32px;
}

.babyProfile #parentsNotes {
    color: #7b9e2a;
}

.babyProfile #teachersNotes {
    color: #7b9e2a;
}

.babyProfile.detailItem {
    font-size: 18px;
    margin: 16px;
}

.section-text {
    text-align: center;
}

.babyItemBus.card {
    padding: 8px;
}

.baby-card-element {
    display: inline-block;
    vertical-align: top;
}

.baby-card-element-right {
    margin-left: 24px;
    margin-top: 8px;
}

.baby-card-image {
    width: 100px;
    height: 100px;
}

.busBabyDetail.accent-color {
    color: #ff0000;
}

.busBabyDetail.description-color {
    color: #7b9e2a;
}

.bus-tabs {
    width: 100%;
}

.busBabyDetail {
    font-size: 1em;
    width: 10px;
    white-space: nowrap;
}

.child-img {
    width: 100%;
    height: 100%;
}

.children-home {
    display: inline-block;
    width: 100px;
    height: 100px;
    position: relative;
    text-align: center;
    margin: 10px
}

.children-home span {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
}

.children-home img {
    width: 100%;
    height: 100%;
}

.child-assente {
    background-color: #bd3e4d;
}

.img-assente {
    border: 2px solid #ff0000;
}

.img-presente {
    border: 2px solid #cccccc;
}

.img-not-active {
    opacity: 0.4;
}

.img-communication {
    opacity: 0.8;
}

.child-presente {
    background-color: #98ba3c;
}

.child-uscito {
    opacity: 0.4;
}

.children-presenza {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
}

. .section-tab-notpressed {
    background-color: #98ba3c;
}

.section-tab-pressed {
    background-color: #d4145a;
}

.communication-selected {
    background-color: white;
    color: #fff;
    border-style: solid;
    border-width: 5px;
    border-color: #7b9e2a;
}

.communication-not-selected {
    background-color: white;
}

.calendar.col {
    border-style: solid;
    border-width: 1px;
}

.calendar.row {
    border-style: solid;
    border-width: 1px;
}

.calendar.event-for-all {
    font-weight: bold;
    text-transform: uppercase;
}

.calendar-today-cell {
    background-color: #DBE2E5;
}

.calendar-day-not-current-month {
    background-color: #e3e3e3;
    color: #606060;
}

.calendar-header {
    font-weight: bold;
}

.communication.card {
    padding: 18px;
}

.communication-selected {
    background-color: #7b9e2a;
    color: #fff;
}

.home-side {
    display: inline-block;
}

.comunication-done:before {
    content: url('../img/check.png');
    color: green;
}

.comunication-done {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

.communication-text {
    font-size: 22px;
}

.communication-date {
    position: absolute;
    right: 50px;
    white-space: nowrap;
}

.section-row {
    padding: 0px;
}

.tabs.section-tabs {
    top: 0px;
    padding: 0px;
    background-color: #98ba3c !important;
    font-weight: bold;
}

.section-tab {
    color: #fff!important;
    font-weight: bold;
}

.note-tabs {
    background-color: #7b9e2a !important;
    font-weight: bold;
}

.note-tab {
    color: #fff!important;
    font-weight: bold;
}

.tabs.notes-tabs {
    top: 0px;
    padding: 0px;
}

.home-section-space {
    padding-top: 70px !important;
}

.create-note {
    width: 100%;
    background-color: #bd3e4d;
    color: #fff;
    margin-bottom: 16px;
}

.name-of-child {
    position: absolute;
    bottom: 20px;
    text-overflow: ellipsis;
    text-align: center;
    width: 100%;
}

.communication-disabled {
    background-color: #fff;
}

.communication-active {
    background-color: #fff;
}

.newComItems {
    position: relative;
    float: left;
}

.item.item-checkbox.newCom {
    font-size: 18px;
    border-color: transparent;
    margin-top: -12px;
}

.button-control {
    background-color: #bd3e4d;
    border: 1px solid #bd3e4d;
    display: inline-block;
    cursor: pointer;
    color: #fff;
    font-family: Arial;
    font-size: 15px;
    padding: 10px 25px;
    margin-top: 10px;
}

.button-control.total {
    width: 50%;
}

.button-control:active {
    position: relative;
    top: 1px;
}

.button-control:hover {
    background-color: #bd3e4d;
}

.child-search {
    background-color: white !important;
}

.children-search {
    position: absolute;
    width: 100%;
    z-index: 3;
    background-color: #fff;
}

.notes-baby-image {
    max-width: 80px;
    max-height: 80px;
}

ion-content .scroll {
    height: 100%;
}

.notes-baby-name {
    text-decoration: underline;
    margin-right: 6px;
    vertical-align: top;
}

.right-side-fake-menu {
    background-color: #EEEEEE;
    min-height: 100%;
    right: 0%;
    position: absolute;
    padding: 0;
}

.side-fake-menu-shadow {
    -webkit-box-shadow: -10px 0 30px -10px #000;
    box-shadow: -10px 0 30px -10px #000;
}

.right-side-fake-menu.ng-hide {
    right: -25%;
}

.right-side-fake-menu.ng-hide-remove,
.right-side-fake-menu.ng-hide-add {
    display: block !important;
    transition: all ease 200ms;
}

.note-tabs-container {
    padding: 0;
}

.tabs.notes-tabs {
    background-color: #455A64 !important;
}

.home-container {
    height: 100%;
}

.sections-displayer-full {
    max-width: 100%;
    transition: max-width ease 200ms;
}

.sections-displayer-short {
    max-width: 75%;
    transition: max-width ease 200ms;
}

.teacher-notes {
    width: 100%;
    position: relative;
}

.parents-notes {
    width: 100%;
    position: relative;
}

.new-note-panel {
    width: 100%;
    padding-top: 8px;
}

.new-note-actions {
    width: 100%;
}

.cancel-button {
    background-color: #78909C;
    color: #fff;
    display: table-cell;
    margin-right: 3px;
}

.cancel-button.activated {
    background-color: #607D8B;
}

.create-button {
    background-color: #bd3e4d;
    color: #fff;
    display: table-cell;
    margin-left: 3px;
}

.create-button.activated {
    background-color: #bd3e4d;
}

.new-note-title {
    font-size: 20px;
    font-weight: bold;
    color: #3e5421;
}

.new-note-description {
    margin-top: 24px;
}

.new-note-assign-container {
    margin-top: 24px;
    border-width: 0px!important;
}

.new-note-kid-image {
    max-width: 64px;
    max-height: 64px;
}

.new-note-kid-name {
    vertical-align: top;
}

.associated-kid-container {}

.associated-kid-name {
    margin-left: 8px;
    vertical-align: middle;
}

.associated-kid-image {
    vertical-align: middle;
    max-height: 64px;
    max-width: 64px;
}

.associated-kid-delete-btn {
    float: right;
    font-size: 14px!important;
}

.nothing-to-show-placeholder-wrapper {
    position: absolute;
    top: 50%;
    /*
    left: 50%;
        margin-right: -50%;
*/
    width: 100%;
    text-align: center;
    margin-right: auto;
    /*    transform: translate(-50%, -50%)*/
}

.nothing-to-show-placeholder {
    text-align: center;
    font-size: 1.4em;
}

.item-text-complete {
    white-space: normal;
}

.under-bar {
    margin-top: 60px;
}

.menu-item-insegnante {
    border-style: hidden;
    color: #fff;
}

.icon-menu-insegnante {
    margin-right: 8px;
    font-size: 30px;
}

.action-icon:before {
    font-size: 30px!important;
}


/*
.id-checkbox:before {
    background: #bd3e4d;
    border-color: #bd3e4d;
}
*/

.id-checkbox input:before,
.id-checkbox .checkbox-icon:before {
    border-color: #bd3e4d;
}

.id-checkbox input:checked:before,
.id-checkbox input:checked + .checkbox-icon:before {
    background: #bd3e4d;
    border-color: #bd3e4d;
}

.menu-profile {
    background-color: #7b9e2a !important;
    height: 90px;
}

.menu-profile h2 {
    color: white !important;
    line-height: 30px;
}

.menu-profile button {
    min-height: 30px !important;
    top: 16px !important;
    color: white !important;
}

.button-bar {
    color: #fff;
}

.tabs-top.tabs-striped .tab-item.active {
    border-bottom-color: #bd3e4d;
    border-width: 0 0 4px!important;
}

.title-bar {
    color: #fff;
}

.scadenze {
    color: #3e5421;
    font-size: 22px;
    font-weight: bold;
    margin: 16px
}

.controlla-consegne {
    background-color: #bd3e4d;
}

.select-note {
    margin-top: 16px;
    margin-left: 16px;
}

.padding-no-notes {
    padding-bottom: 24px;
}

.login-page {
    background-color: #7b9e2a;
    height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.google-button {
    border-radius: 4px;
    font-weight: 500;
    width: 300px;
    color: #fff;
    background-color: #dd4c39;
    border-color: darken(#dd4c39, 2);
}

.badge-msg {
    /*
    position: absolute;
    top: 3px;
    right: -10px;
    color: white;
    background-color: #bd3e4d;
    border-radius: 50%;
    border: 1x solid grey;
    padding: 10px;
*/
    position: absolute;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    top: 3px;
    right: -10px;
    color: white;
    background-color: #bd3e4d;
    border-radius: 50%;
    display: table !important;
    text-align: center;
}

.badge-delivery {
    position: absolute;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    top: 3px;
    right: -10px;
    color: white;
    background-color: #98ba3c;
    border-radius: 50%;
    display: table !important;
    text-align: center;
    font-size: x-large;
}

.icon-message {
    display: table-cell;
    vertical-align: middle;
}

.communication-interaction {
    right: 0px;
    text-align: right;
    margin-top: 8px;
}

.text-gray {
    color: gray;
}

.delivered {
    opacity: 0.2;
}

.btn_disabled {
    opacity: 0.4;
}

.assigned_babies {
    margin: 8px;
}

.row-voce {
    padding: 1px!important;
}

.studente {
    text-align: center;
    width: 100%;
}
