<ion-grid inset>
    <ion-row>
        <ion-col col-10 offset-1>
            <ion-card>
                <ion-card-header>
                Informazioni di base
                </ion-card-header>
                <ion-card-content margin-top>
                    <ion-grid inset>
                        <ion-row margin-bottom>
                            <ion-col col-1>
                                Nome:
                            </ion-col>
                            <ion-col col-11>
                                {{selectedSchool.name}}
                            </ion-col>
                        </ion-row>
                        <ion-row margin-bottom>
                            <ion-col col-1>
                                Indirizzo:
                            </ion-col>
                            <ion-col col-11s>
                                {{selectedSchool.address}}
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-card-content>
            </ion-card>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col col-10 offset-1>
            <ion-card>
                <ion-card-header>
                Contatti
                <button class='edit' ion-button color='magenta1' float-end *ngIf='!editContatti' (click)="onContattiEdit()">Modifica</button>
                <button class='edit' ion-button color='magenta1' float-end *ngIf='editContatti' (click)="onContattiSave()">Salva</button>
                <button class='edit' margin-right ion-button color='grey2' float-end *ngIf='editContatti' (click)="onContattiCancel()">Annulla</button>
                </ion-card-header>
                <ion-card-content margin-top>
                    <ion-grid inset>
                        <ion-row margin-bottom>
                            <ion-col col-1>
                                Telefono:
                            </ion-col>
                            <ion-col col-11>
                                <ion-input type="tel" [(ngModel)]="selectedSchool.telephone" [disabled]='!editContatti' no-margin></ion-input>
                            </ion-col>
                        </ion-row>
                        <ion-row margin-bottom>
                            <ion-col col-1>
                                Indirizzo email:
                            </ion-col>
                            <ion-col col-11>
                                <ion-input type="tel" [(ngModel)]="selectedSchool.email" [disabled]='!editContatti' no-margin></ion-input>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-card-content>
            </ion-card>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col col-10 offset-1>
            <ion-card>
                <ion-card-header>
                    Tipologia di assenze
                    <button class='edit' ion-button color='magenta1' float-end *ngIf='!editAssenze' (click)="onAssenzeEdit()">Modifica</button>
                    <button class='edit' ion-button color='magenta1' float-end *ngIf='editAssenze' (click)="onAssenzeSave()">Salva</button>
                    <button class='edit' margin-right ion-button color='grey2' float-end *ngIf='editAssenze' (click)="onAssenzeCancel()">Annulla</button>
                </ion-card-header>
                <ion-card-content margin-top>
                    <ion-grid *ngIf="editAssenze" no-padding no-margin><ion-row><ion-col col-4>
                        <ion-item class="ome" no-padding no-margin>
                            <input type='text' id='giord' [(ngModel)]="newAssenza" placeholder="Inserisci tipologia di assenza" no-padding no-margin>
                            <ion-icon name="add-circle" color="green3" (click)="addAssenza(newAssenza)" item-end></ion-icon>    
                        </ion-item> 
                    </ion-col></ion-row></ion-grid>
                    <ion-list>
                        <ion-item *ngIf="editAssenze">
                            <ion-label>Malattia</ion-label>
                            <ion-checkbox [(ngModel)]="isMalattiaEnabled"></ion-checkbox>
                        </ion-item>
                        <ion-item *ngIf="editAssenze">
                            <ion-label>Motivi familiari</ion-label>
                            <ion-checkbox [(ngModel)]="selectedSchool.familiari"></ion-checkbox>
                        </ion-item>
                        <ion-item *ngIf="!editAssenze && selectedSchool.malattia">
                            Malattia
                        </ion-item>
                        <ion-item *ngIf="!editAssenze && selectedSchool.familiari">
                            Motivi familiari
                        </ion-item>
                        <ion-item *ngFor="let item of selectedSchool.assenze">
                            {{item}}
                            <ion-icon *ngIf="selectedSchool.assenze.length > 0 && editAssenze" name="close" float-end (click)="removeAssenza(item)"></ion-icon>
                        </ion-item>
                        <ion-item *ngIf="selectedSchool.assenze.length === 0">Nessuna tipologia di assenza</ion-item> 
                    </ion-list>
                </ion-card-content>
            </ion-card>
        </ion-col>
    </ion-row>       
    <ion-row *ngIf="selectedSchool.malattia" >
        <ion-col col-10 offset-1>
            <ion-card>
                <ion-card-header>
                Tipologia di malattie
                <button class='edit' ion-button color='magenta1' float-end *ngIf='!editMalattie' (click)="onMalattieEdit()">Modifica</button>
                <button class='edit' ion-button color='magenta1' float-end *ngIf='editMalattie' (click)="onMalattieSave()">Salva</button>
                <button class='edit' margin-right ion-button color='grey2' float-end *ngIf='editMalattie' (click)="onMalattieCancel()">Annulla</button>
                </ion-card-header>
                <ion-card-content margin-top>
                    <ion-grid *ngIf="editMalattie" no-padding no-margin><ion-row><ion-col col-4>
                        <ion-item class="ome" no-padding no-margin>
                            <input type='text' id='giord' [(ngModel)]="newMalattia" placeholder="Inserisci tipologia di malattia" no-padding no-margin>
                            <ion-icon name="add-circle" color="green3" (click)="addMalattia(newMalattia)" item-end></ion-icon>    
                        </ion-item> 
                    </ion-col></ion-row></ion-grid>
                    <ion-list>
                        <ion-item *ngFor="let item of selectedSchool.malattie">
                            {{item}}
                            <ion-icon *ngIf="selectedSchool.malattie.length > 0 && editMalattie" name="close" float-end (click)="removeMalattia(item)"></ion-icon>
                        </ion-item>
                        <ion-item *ngIf="selectedSchool.malattie.length === 0">Nessuna tipologia di malattia</ion-item> 
                    </ion-list>
                </ion-card-content>
            </ion-card>
        </ion-col>
    </ion-row>    
</ion-grid>