<ion-view id="bus" title="{{'buses' | translate}}">
    <ion-nav-bar class="bar bar-ungiorno">
        <ion-nav-back-button>
        </ion-nav-back-button>
        <ion-nav-buttons side="right">
            <button class="button" ng-click="print()">
                <i class="icon ion-printer"></i>
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>


    <ion-content has-header="true">
        <div ng-if="dataLoaded">
            <div class="row section-row">

                <div class="tabs-striped tabs-top tabs-background-dark tabs-color-light">
                    <div class="tabs section-tabs">
                        <a class="tab-item" ng-repeat="bus in buses track by $index" class="col" ng-click="changeSelectedBus(bus)" ng-class="{'active' :  (isThisBus(bus.busName))}">  {{bus.busName}} </a>
                    </div>
                </div>
            </div>
            <h3>{{'today' | translate}}, {{nowDate | date:'EEEE dd MMMM y'}} {{'catch_the_bus' | translate}} {{realBabyNumer}} {{'baby_on_the' | translate}} {{selectedBus.busName}}</h3>
            <div class="babiesDisplay">
                <div class="row" ng-repeat="nRow in totalNumRow()">
                    <div class="col" ng-repeat="baby in getBabiesByRow(nRow)">
                        <div class="card babyItemBus" ng-click="openBabyDetails(baby)" ng-if="!baby.isFake">
                            <div class="baby-card-element">
                                <img ng-src="{{baby.image}}" class="baby-card-image">
                            </div>
                            <div class="baby-card-element baby-card-element-right">
                                <h3 class="busBabyDetail">{{baby.fullName}}</h3>
                                <h3 class="busBabyDetail accent-color"><span class="busBabyDetail description-color">{{'bus_stop_drops_off' | translate}} </span>{{baby.busStop}}</h3>
                                <h3 class="busBabyDetail"><span class="busBabyDetail description-color">{{'bus_stop_person_wait' | translate}} </span>{{baby.personWhoWaitName}} ({{baby.personWhoWaitRelation}})</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </ion-content>
</ion-view>
