<ion-view id="home" ng-init="initialize()">
    <ion-nav-buttons side="right">
        <button class="button" ng-if="!viewClose()" ng-click="openNotes()">
            <i class="icon ion-document-text"></i>
        </button>
        <button class="button" ng-if="!viewClose()" ng-click="openCommunications()">
            <i class="icon ion-android-alarm-clock"></i>
        </button>
        <button style="color:black" class="button" ng-if="viewClose()" ng-click="closeNotesAndComm()">{{'close' | translate | uppercase}}</button>

    </ion-nav-buttons>
    <ion-content has-header="true">
        <div class="row section-row home-container">
            <div class="col section-row" ng-class="{'sections-displayer-short': noteExpanded || communicationExpanded, 'sections-displayer-full': !(noteExpanded || communicationExpanded)}">
                <div class="row section-row">
                    <div class="tabs-striped tabs-top tabs-background-dark tabs-color-light">
                        <div class="tabs section-tabs">
                            <a class="tab-item" ng-repeat="section in sections track by $index" class="col" ng-click="changeSection($index)" ng-class="{'active' :  (isThisSection($index))}"> {{section.sectionName}} </a>
                            <a class="tab-item" class="col" ng-click="changeSection('all')" ng-class="{'active' :  (isThisSection($index))}">  {{'all_section' | translate}} </a>
                        </div>
                    </div>
                </div>
                <div class="row home-section-space">
                    <div class="col">
                        <div class="sectionPeriod" ng-click="changeSectionPeriod('anticipo')">
                            <svg id="svg" viewbox="0 0 100 100">
                                <circle cx="50" cy="50" r="45" fill="{{colors['anticipo']}}" />
                                <path fill="none" stroke-linecap="round" stroke-width="5" stroke="#d4145a" stroke-dasharray="{{getLineStroke(availableChildren['anticipo'],totalChildrenNumber['anticipo'])}}" d="M50 10
           a 40 40 0 0 1 0 80
           a 40 40 0 0 1 0 -80" />
                                <text x="50" y="50" text-anchor="middle" dy="7" font-size="20">{{availableChildren['anticipo']}} su {{totalChildrenNumber['anticipo']}}</text>
                            </svg>
                        </div>
                        <div class="section-text">
                            {{'home_anticipo' | translate}}
                        </div>
                    </div>
                    <div class="col">
                        <div class="sectionPeriod" ng-click="changeSectionPeriod('mensa')">

                            <svg id="svg" viewbox="0 0 100 100">
                                <circle cx="50" cy="50" r="45" fill="{{colors['mensa']}}" />
                                <path fill="none" stroke-linecap="round" stroke-width="5" stroke="#d4145a" stroke-dasharray="{{getLineStroke(availableChildren['mensa'],totalChildrenNumber['mensa'])}}" d="M50 10
           a 40 40 0 0 1 0 80
           a 40 40 0 0 1 0 -80" />
                                <text x="50" y="50" text-anchor="middle" dy="7" font-size="20">{{availableChildren['mensa']}} su {{totalChildrenNumber['mensa']}}</text>
                            </svg>
                        </div>
                        <div class="section-text">
                            {{'home_pranzo' | translate}}
                        </div>
                    </div>
                    <div class="col">
                        <div class="sectionPeriod" ng-click="changeSectionPeriod('posticipo')">
                            <svg id="svg" viewbox="0 0 100 100">
                                <circle cx="50" cy="50" r="45" fill="{{colors['posticipo']}}" />
                                <path fill="none" stroke-linecap="round" stroke-width="5" stroke="#d4145a" stroke-dasharray="{{getLineStroke(availableChildren['posticipo'],totalChildrenNumber['posticipo'])}}" d="M50 10
           a 40 40 0 0 1 0 80
           a 40 40 0 0 1 0 -80" />
                                <text x="50" y="50" text-anchor="middle" dy="7" font-size="20">{{availableChildren['posticipo']}} su {{totalChildrenNumber['posticipo']}}</text>
                            </svg>
                        </div>
                        <div class="section-text">
                            {{'home_posticipo' | translate}}
                        </div>
                        <!--                <div section></div>-->
                    </div>
                </div>
                <div class="children-home" ng-repeat="child in childrenProfiles[selectedPeriod] track by $index" ng-click="detailOrCommunication(child.childrenId)">
                    <img ng-src="{{child.image}}" ng-class="{'child-assente' : (child.exitTime == null  || child.exitTime <= getNowDate()), 'child-presente' :  (child.exitTime != null && child.exitTime>getNowDate())}">
                    <!--            <img ng-src="{{child.image}}">-->
                    <div class="children-assente" ng-if="child.exitTime == null"><span>{{'absent' | translate}}</span>
                    </div>
                    <div class="children-uscito" ng-if="(child.exitTime != null && child.exitTime<=getNowDate())"><span>{{'exit' | translate}}</span>
                    </div>
                    <div class="children-presente" ng-if="(child.exitTime != null && child.exitTime>getNowDate())"><span>{{'present' | translate}}</span>
                    </div>

                    <span class="comunication-done" ng-if="getChildrenDeliveryByID(child.childrenId)"></span>

                </div>
            </div>
            <div class="col col-25 home-section-space right-side-fake-menu side-fake-menu-shadow " ng-hide="!noteExpanded">

                <div class="row note-tabs-container" ng-if="!newNoteExpandend">
                    <div class="tabs-striped tabs-top tabs-background-dark tabs-color-light">
                        <div class="tabs notes-tabs side-fake-menu-shadow">
                            <a class="tab-item" class="col" ng-click="openTeacherNotes()" ng-class="{'active': teachersNote}">{{'teachers_notes' | translate}}</a>
                            <a class="tab-item" class="col" ng-click="openParentsNotes()" ng-class="{'active': parentsNote}">{{'parents_notes' | translate}}</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div ng-hide="!teachersNote" class="teacher-notes" ng-class="{'changing-notes-teachers-to-parents': (parentsNote && !teachersNote)}">
                        <div class="list list-inset">
                            <ion-item ng-repeat="note in teacherNotes track by $index">
                                <div class="babyNames" ng-if="isBabyAssignedToNote(note)">
                                    <img class="notes-baby-image" ng-if="note.kids.lenghth === 1" ng-src="{{note.kids[1].image}}"></img>
                                    <div class="notes-baby-name inline" ng-repeat="baby in note.kids" ng-click="openDetail(baby.kidId)">{{baby.name}}</div>
                                </div>
                                {{note.note}}
                            </ion-item>
                        </div>
                        <button style="background-color:red; color:white" class="button create-note section-tabs" ng-click="createNotes()">{{'new_note' | translate}}</button>

                    </div>
                    <div ng-hide="!parentsNote" class="parents-notes" ng-class="{'changing-notes-parents-to-teachers': (!parentsNote && teachersNote)}">
                        <div class="list list-inset">
                            <ion-item ng-repeat="babyWithNotes in parentNotes track by $index">
                                <img class="notes-baby-image" ng-src="{{babyWithNotes.kid.image}}"></img>
                                <div class="notes-baby-name inline" ng-click="openDetail(babyWithNotes.kidId)">{{babyWithNotes.kid.name}}</div>
                                <ion-item ng-repeat="note in babyWithNotes.parentNotes">{{note.note}}</ion-item>
                            </ion-item>
                        </div>
                    </div>
                    <div ng-hide="!newNoteExpandend" class="new-note-panel">
                        <div class="list">
                            <div class="new-note-title">{{'create_new_note' | translate | uppercase}}</div>
                            <label class="item item-input new-note-description">
                                <input type="text" placeholder="Inserisci Testo" ng-model="newNote.description">
                            </label>
                            <div class="item item-checkbox new-note-assign-container">
                                <label class="checkbox">
                                    <input type="checkbox"ng-model="newNote.assignedBaby">
                                </label>
                                {{'associated_a_child' | translate}}
                            </div>
                            <label class="item item-input">
                                <input type="text" ng-disabled="!newNote.assignedBaby" placeholder="Nome Bambino" ng-change="search()" ng-model="newNote.search">
                            </label>
                            <div class="list children-search">
                                <div class="item child-search" ng-repeat="children in newNote.possibleChildrens" ng-click="selectChildrenForNote(children)">{{children.childrenName}}</div>
                            </div>
                            <div class="new-note-actions row">
                                <button class="button cancel-button col" ng-click="cancelNewNote()">{{'cancel' | translate}}</button>
                                <button class="button create-button col" ng-click="sendNewNote()">{{'create_note' | translate}}</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col col-25 home-section-space right-side-fake-menu" ng-hide="!communicationExpanded">
                <div class="list list-inset">
                    <ion-radio ng-repeat="item in communications" ng-if="item.doCheck != null" ng-value="item.communicationId" ng-model="data.communication" ng-click="changeCommunication(item.communicationId)">
                        {{ item.description }}
                    </ion-radio>
                </div>
            </div>

    </ion-content>
</ion-view>
