<ion-view id="home" ng-init="initialize()">

    <!--
    <ion-nav-title>
        Nome maestra
    </ion-nav-title>
    <ion-content has-header="true">
-->
    <!--
    <ion-tabs>
        <ion-tab ng-repeat="section in sections" title="{{section.sectionName}}" ng-click="changeSection(section)">
        </ion-tab>
        <ion-content>
            <ion-content has-header="true">

                section 1

            </ion-content>
        </ion-content>
    </ion-tabs>
-->
    <ion-content has-header="true">
        <div class="row">
            <div ng-repeat="section in sections" class="col">
                <button class="button section-tabs" ng-click="changeSection(section)">
                    {{section.sectionName}}
                </button>
            </div>
        </div>
        <div>
            <img class="chldren-home" ng-repeat="child in children track by $index" ng-src="{{child.image}}" ng-click="openDetail(child)">
        </div>
    </ion-content>
</ion-view>
