<ion-view view-title="{{title}} - {{'teacher' | translate}} {{selectedTeacher.teacherFullname}}">
	<ion-nav-buttons>
    </ion-nav-buttons>
    <ion-content has-header="true" class="padding">
		<div class="row">
    		<div class="col">
    			<div class="circle">
    				
    			</div>
    		</div>

    		<div class="col">
    			<div class="circle">

    			</div>
    		</div>

    		<div class="col">
    			<div class="circle">

    			</div>
    		</div>
    	</div>

    	<div class="row">
            <div class="child image" ng-repeat="child in section.children">
                <image ng-src="child.pic"/>
            </div>
		</div>
	</ion-content>
</ion-view>