<ion-grid inset *ngIf='selectedSchool && !kidClick[0]' >
  <ion-row>
    <ion-col col-12>
      <input #inputFile type='file' style='display: none' accept='.xls, .xlsx, .csv' (change)="handlerInputChange($event)" />
      <button ion-button color="green1" float-end margin-top (click)='inputFile.click()'>Carica file  (.xls, .xlsx, .csv)</button>  
      <button ion-button color="green1" float-end margin-top (click)='onAddKid()'>Aggiungi bambino</button>  
    </ion-col>
    <ion-col col-12>
      <hr />
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-4>
      <ion-item>
        <ion-label floating>Ordine</ion-label>
        <ion-select [(ngModel)]='ordine' (ngModelChange)="onOrdineChange(ordine)" interface='popover'>
          <ion-option value='0'>Alfabetico (nome) A-Z</ion-option>
          <ion-option value='1'>Alfabetico (nome) Z-A</ion-option>
          <ion-option value='2'>Alfabetico (cognome) A-Z</ion-option>
          <ion-option value='3'>Alfabetico (cognome) Z-A</ion-option>
        </ion-select>
      </ion-item>
    </ion-col>
    <ion-col col-4>
      <ion-item>
        <ion-label floating>Filtro</ion-label>
        <ion-select interface='popover' [(ngModel)]='filtro' (ngModelChange)="onFiltroKidChange(filtro)">
          <ion-option value='0'>Tutti</ion-option>
          <ion-option value='1'>Genere (Maschi)</ion-option>
          <ion-option value='2'>Genere (Femmine)</ion-option>
          <ion-option value='3'>Genere (Altro)</ion-option>
          <ion-option value='4'>Assegnati ad una sezione</ion-option>
          <ion-option value='5'>Non assegnati ad alcuna sezione</ion-option>
        </ion-select>
      </ion-item>
    </ion-col>
    <ion-col col-4>
      <ion-item>
        <ion-label floating>Cerca</ion-label> 
        <ion-input (input)="searchKids($event)"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-12>
       <p float-end *ngIf="filteredKid">Totale bambini trovati: {{filteredKid.length}}</p> 
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-12>
      <ion-list>
        <ion-item *ngFor="let item of filteredKid">
          <ion-thumbnail item-start>
            <img src="{{item.image}}">
          </ion-thumbnail>
          <h2>{{item.name}} {{item.surname}}</h2>
          <ion-icon name="eye" item-end color="magenta1" style="margin-right: 30px" (click)='onViewKid(item)'></ion-icon> 
          <!-- <ion-icon name="md-create" item-end color="magenta1" style="margin-right: 30px" (click)='onEditKid(item)'></ion-icon> -->
          <ion-icon name="trash" item-end color="magenta1" style="margin-right: 10px" (click)="onDeleteKid(item)"></ion-icon>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-grid>

<kidPage [selectedKid]='selectedKid' [selectedSchool]='thisSchool' [kidClick]='kidClick' [edit]='edit' *ngIf="kidClick[0]"></kidPage>