<ion-view id="assenza">
    <ion-nav-bar class="bar bar-ungiorno">
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content has-header="true">

        <div class="assenzaDiv">
            <div>
                <h5>
                    <strong>Periodo:</strong>
                </h5>
            </div>

            <div>
                <p>DA: <label class="item item-input">
                        <input type="text" placeholder="Lunedì, 23 marzo 2015">
                    </label>
                </p>
            </div>

            <div>
                <p>A: <label class="item item-input">
                        <input type="text" placeholder="Inserisci una data">
                    </label>
                </p>
            </div>

            <div>
                <h5>
                    <strong>Motivazione:</strong>
                </h5>
            </div>


                <!---<ion-checkbox>
                    <select >
                        <option>Malattia</option>
                        <option>Influenza</option>
                        <option>Varicella</option>
                        <option>Pertosse</option>
                    </select>
            </div>

            <div>
                <ion-checkbox>
                    Vaccino
                </ion-checkbox>
            </div>
            <div>
                <ion-checkbox>

                </ion-checkbox>
                <label class="item item-input">

                    </label>
            </div>-->
            <div class="list">

                <label class="item item-radio" ng-click="showSelect(1)">
                    <input type="radio" name="group">
                    <div class="item-content" >
                        Malattia
                        <div class="item item-select">  <!--- class="input-label" -->

                            <select ng-show="isMalattia">
                            <option ng-repeat="item in malattieArray">{{item}}</option>
                            </select>
                        </div>

                    </div>
                    <i class="radio-icon ion-checkmark"></i>
                </label>

                <label class="item item-radio" ng-repeat="item in radiobuttonArray">
                    <input type="radio" name="group" ng-click="showSelect(0)">
                    <div class="item-content">
                      {{item}}
                    </div>
                    <i class="radio-icon ion-checkmark"></i>
                </label>

                <label class="item item-radio">
                    <input type="radio" name="group" ng-click="showSelect(0)">
                    <div class="item-content">
                      Altro
                    </div>
                    <i class="radio-icon ion-checkmark"></i>
                </label>

            </div>


    </ion-content>
</ion-view>
