<ion-view id="assenza">
    <ion-nav-bar class="bar bar-ungiorno">
        <ion-nav-back-button>
        </ion-nav-back-button>
        <ion-nav-buttons side="right">
            <button class="button" ng-click="">
                invia
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content has-header="true">

        <div class="assenzaDiv">
            <div>
                <h5>
                    <strong>Periodo:</strong>
                </h5>
            </div>

            <div class="list">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Da:</span>
                    <input type="date" placeholder="dd/mm/yyyy">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">A:</span>
                    <input type="date" placeholder="dd/mm/yyyy">
                </label>
            </div>

            <div>
                <h5>
                    <strong>Motivazione:</strong>
                </h5>
            </div>

            <div class="row">
                        <div class="col col-25">
                <div class="list">

                    <label class="item item-radio" ng-click="showSelect(11)">
                        <input type="radio" name="group">
                        <div class="item-content" >
                            Malattia
                        </div>
                        <i class="radio-icon ion-checkmark"></i>
                    </label>

                    <label class="item item-radio" ng-repeat="item in profile.absenceTypes">
                        <input type="radio" name="group" ng-click="showSelect(0)">
                        <div class="item-content">
                            {{item.type}}
                        </div>
                        <i class="radio-icon ion-checkmark"></i>
                    </label>

                    <label class="item item-radio">
                        <input type="radio" name="group" ng-click="showSelect(10)">
                        <div class="item-content">
                            Altro
                        </div>
                        <i class="radio-icon ion-checkmark"></i>
                    </label>

                </div>
            </div>

                <div class="sceltaMalattia">
                    <div class="item item-input item-select sceltaMalattia">
                        <div class="input-label">
                            Malattia specifica:
                        </div>
                        <select ng-show="isMalattia">
                            <option ng-repeat="item in profile.frequentIllnesses">{{item.type}}</option>
                        </select>
                    </div>
                </div>
            </div>

            <div>
                <label class="item item-input" ng-show="isAltro">
                    <input type="text" placeholder="Inserire una motivazione">
                </label>
            </div>
        </div>

    </ion-content>
</ion-view>
