<ion-view id="delegate" title="{{'delegate' | translate}}">
    <ion-nav-bar class="bar bar-ungiorno">
        <!-- back button -->
        <ion-nav-back-button></ion-nav-back-button>

        <!-- Send server button -->
        <ion-nav-buttons side="right">
            <button class="button" ng-click="send()">
                <i class="icon ion-android-done"></i>
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-content class="page-padding" has-header="true">

        <!-- name & surname -->
        <h5 class="accent-color input-description-padding"><b>{{'delegate_description' | translate}}:</b></h5>
        <input type="text" ng-model="person.lastName" placeholder="{{'name' | translate}}">
        <input type="text" ng-model="person.firstName" placeholder="{{'surname' | translate}}">

        <!-- Image -->
        <div class="row input-description-padding" ng-click="addImage('Camera')">
            <i class="icon ion-image gallery"></i>
            <p ng-hide="hasAuthorization" class="delegate-field add-image text-wrap">{{'add_image' | translate}}</p>
            <p ng-hide="!hasAuthorization" class="delegate-field add-image text-wrap">{{'add_image_completed' | translate}}</p>
        </div>
        <div class="wrapper" ng-repeat="img in image">
            <img data-ng-src="{{img}}" width="200px">
            </img>
            <span class="close" ng-click="removeImage($index)"></span>
        </div>
        <!-- Auths-->
        <h5 class="accent-color input-description-padding"><b>{{'delegate_auth' | translate}}</b></h5>
        <div class="row">
            <ion-checkbox class="item item-checkbox delegate no-bold item-text-wrap" name="radio">{{'delegate_majority' | translate}}</ion-radio>
        </div>
        <div class="row">
            <ion-checkbox class="item item-checkbox delegate no-bold item-text-wrap" name="radio">{{'auth_take_baby' | translate}}</ion-radio>
        </div>
    </ion-content>
</ion-view>
