<ion-view id="babysettings" hide-back-button="false">
  <ion-nav-bar class="bar bar-ungiorno">
    <ion-nav-back-button>
    </ion-nav-back-button>
    <ion-nav-title>
      {{'menu_impostazioni' | translate}}
    </ion-nav-title>
  </ion-nav-bar>

  <ion-content has-header="true" class="page-padding" scrollbar-y="true">
    <div class="form-container">
      <div>
        <div class="input-description-padding setting-services-list">{{'babysetting_services' | translate}}</div>
        <!--
        <div class="home-info-content my-list home-comm">
          <ion-checkbox ng-repeat="(key, data) in babyConfiguration.services" ng-model="data.active" checked onclick="return false;" onkeydown="return false;" ng-if="key!='mensa'">{{ key }}</ion-checkbox>
        </div>
-->
        <ul class="home-info-content my-list home-comm">
          <li class="huge row" ng-repeat="service in babyServices">
            <span class="col">{{ service.text |capitalize }}</span> 
            <span class="col" ng-if="service.active">{{'babysetting_active' | translate| uppercase}}</span>
            <span class="col" ng-if="!service.active">{{'babysetting_not_active' | translate | uppercase}}</span>
          </li>

        </ul>
        <!--
        <ul class="home-info-content my-list home-comm">
          <li ng-repeat="(key, data) in babyConfiguration.services" ng-model="data.active" checked onclick="return false;" ng-if="key!='mensa'"><i class="icon ion-record"></i>{{ key|capitalize }} <span ng-if="data.active">{{'babysetting_active' | translate}}</span><span ng-if="!data.active">{{'babysetting_not_active' | translate}}</span>
          </li>
        </ul>
-->

        <div class="input-description-padding row">{{'babysetting_hours_entry' | translate}}:
            <label class="item item-input setting setting-line">{{getTimeLabelEntry()}}</label>
        </div>

        <div class="input-description-padding row">{{'babysetting_hours' | translate}}:
          <label class="item item-input setting setting-line">{{getTimeLabel()}}</label>
        </div>
        
        <div class="input-description-padding">{{'babysetting_who' | translate}}:</div>
        <ul class="home-info-content my-list home-comm">
          <li class="huge row" ng-repeat="person in listDelega" ng-if="person.parent"><span class="col">{{person.firstName}} &nbsp;{{person.lastName}} &nbsp;&nbsp;({{ 'parent_delega' | translate}} &nbsp;{{person.parentIndex}})</span></li>
          <li class="huge row" ng-repeat="person in listDelega" ng-if="!person.parent"><span class="col">{{person.firstName}} &nbsp;{{person.lastName}} &nbsp;&nbsp;({{ person.relation  | translate}})</span></li>
        </ul>
      </div>

      <!--      <div ng-show="busEnabled">-->
      <div ng-show="busEnabled">
        <div class="input-description-padding">{{'babysetting_bus' | translate}}</div>
        <ul class="home-info-content my-list home-comm" ng-if="selectedBusBack">
          <li class="huge row">
            <span class="col">{{selectedBusBack.name}}</span>
          </li>
        </ul>
        <ul class="home-info-content my-list home-comm" ng-if="!selectedBusBack">
          Nessuna fermata
        </ul>
      </div>
    </div>
  </ion-content>
</ion-view>
