<ion-view id="ritiro" hide-back-button="false">
    <ion-nav-bar class="bar bar-ungiorno">
        <ion-nav-back-button>
        </ion-nav-back-button>
        <ion-nav-title>
            {{'settings' | translate}}
        </ion-nav-title>
        <!--<ion-nav-buttons side="right">
            <button class="button icon button-clear inf_digcheck" ng-click="saveNewSetting()">
            </button>
        </ion-nav-buttons>-->
    </ion-nav-bar>

    <ion-content has-header="true" class="page-padding">
        <div class="form-container">
            <div>{{'babysetting_intro' | translate}}</div>

            <div>
                <div class="input-description-padding">{{'babysetting_services' | translate}}</div>
                <ion-list class="padlist">
                    <ion-checkbox ng-repeat="item in babyServices" ng-if="item.text!='mensa'" ng-model="item.checked" ng-checked="item.checked" ng-change="showOptions(item)" ng-disabled="true">
                        {{ item.text }}
                    </ion-checkbox>
                </ion-list>

                <div class="input-description-padding">{{'babysetting_hours' | translate}}</div>
								<label class="item item-input setting">{{getTimeLabel()}}</label>
                <!--<input type="time" ng-model="time.value" />-->
								

                <div  class="input-description-padding">{{'babysetting_who' | translate}}</div>
                <ion-list class="padlist">
										<div class="item item-input setting" ng-repeat="person in babyProfile.persons">{{person.fullName}}</div>		
                    <!--<ion-radio ng-repeat="person in babyProfile.persons" ng-model="retireDefault.value" ng-value="person.personId" ng-disabled="true">{{person.fullName}}</ion-radio>-->
                </ion-list>
            </div>

            <div ng-show="busEnabled">
                <div  class="input-description-padding">{{'babysetting_bus' | translate}}</div>
								<label class="item item-input setting">
									{{selectedBusBack.name}}
            		</label>
						</div>
        </div>
    </ion-content>
</ion-view>
