<ion-view id="babysettings" hide-back-button="false">
  <ion-nav-bar class="bar bar-ungiorno">
    <ion-nav-back-button>
    </ion-nav-back-button>
    <ion-nav-title>
      {{'menu_impostazioni' | translate}}
    </ion-nav-title>
  </ion-nav-bar>

  <ion-content has-header="true" class="page-padding" scrollbar-y="true">
    <div class="form-container">
      <div>
        
          <div class="input-description-padding setting-services-list">{{'babysetting_services' | translate}}</div>
          <ul class="home-info-content my-list home-comm">
              <li class="huge row" ng-repeat="service in babyServices">
                <span class=" serviceName">{{ getStringService(service.text) |capitalize }}</span> 
                <span class="col listService" ng-if="service.active">{{'babysetting_active' | translate| uppercase}}</span>
                <span class="col listService" ng-if="!service.active">{{'babysetting_not_active' | translate | uppercase}}</span>
              </li>
    
            </ul>

            <div class="input-description-padding ">{{'babysetting_hours_entry' | translate}}:<span class="listService"><b>{{getTimeLabelEntry()}}</b></span>
            </div>
    
            <div class="input-description-padding ">{{'babysetting_hours' | translate}}<span class="listService"><b>{{getTimeLabel()}}</b></span>
            </div>
            
            <div class="input-description-padding">{{'babysetting_who' | translate}}:</div>
            <ul class="home-info-content my-list home-comm">
              <li class="huge row" ng-repeat="person in listDelega" ng-if="person.parent">
                <span class="col">
                  {{person.firstName}} &nbsp;{{person.lastName}} &nbsp;&nbsp;({{ 'parent_delega' | translate}} &nbsp;{{person.parentIndex}})
                  <br/>
                  <div class = "" ng-if="person.phone.length>0" >
                    <span ng-repeat="phone in person.phone"><i class="icon ion-android-call iconPhone"></i>{{phone}}<br/></span>
                  </div>
                </span>
              </li>
              <li class="huge row" ng-repeat="person in listDelega" ng-if="!person.parent"><span class="col">{{person.firstName}} &nbsp;{{person.lastName}} &nbsp;&nbsp;({{ person.relation  | translate}})</span></li>
            </ul>

            <div class="input-description-padding">{{'allergies' | translate}}:</div>
            <ul class="home-info-content my-list home-comm">
              <li class="huge row" ng-repeat="allergy in listAllergies" >
                <span class="col">
                  {{allergy.name}}
                </span>
              </li>
            </ul>

            <div class="input-description-padding">{{'sections_groups' | translate}}:</div>
            <ul class="home-info-content my-list home-comm">
                <li class="huge row" ng-if="section!=null" >
                    <span class="col">
                        {{section.sectionId}}
                    </span>
                  </li>
              <li class="huge row" ng-repeat="group in groups" >
                <span class="col">
                  {{group.sectionId}}
                </span>
              </li>
            </ul>

            <div class="input-description-padding">{{'babysetting_bus' | translate}}:</div>
            <ul class="home-info-content my-list home-comm">
              <li class="huge row" ng-if="busEnabled && selectedBusBack">
                <span class="col"  > {{selectedBusBack.name}} </span>
              </li>
              <li class="huge row" ng-if="busEnabled && !selectedBusBack">
                  <span class="col"> {{'non_specificate' | translate}} </span>
                </li>
                <li class="huge row" ng-if="!busEnabled && !selectedBusBack">
                    <span class="col"> {{'non_previste' | translate}}</span>
                  </li>
            </ul>

          </div>
        <!--
        <div class = "list">
        <div class="item responsible">{{'babysetting_services' | translate}}</div>
            <div class = "item" ng-repeat="service in babyServices">
                <span>{{ getStringService(service.text) | capitalize }}</span> 
                <span ng-if="service.active" class="listService"><b>{{'babysetting_active' | translate| uppercase}}</b></span>
                <span ng-if="!service.active" class="listService"><b>{{'babysetting_not_active' | translate | uppercase}}</b></span>
            </div>
            <div class = "item" >
                <span>{{ 'bus_service' | translate |capitalize }}</span> 
                <span ng-if="busEnabled" class="listService"><b>{{'babysetting_active' | translate| uppercase}}</b></span>
                <span ng-if="!busEnabled" class="listService"><b>{{'babysetting_not_active' | translate | uppercase}}</b></span>
            </div>
        </div>
       
        <div class = "list">
          <div class="item responsible">{{'babysetting_hours_entry' | translate}}:<span class="listService"><b>{{getTimeLabelEntry()}}</b></span> </div>
          </div>

        <div class = "list">
          <div class="item responsible">{{'babysetting_hours' | translate}}:<span class="listService"><b>{{getTimeLabel()}}</b></span></div>
          </div>
          
        <div class = "list">
          <div class="item responsible">{{'babysetting_who' | translate}}:</div>
          <div class = "item" ng-repeat="person in listDelega" >
              <div class = "item responsible2" ng-if="person.parent">
                <b>{{person.firstName}} {{person.lastName}}</b><span class="delega_value">({{ 'parent_delega' | translate}} {{person.parentIndex}})</span></div>
                <div class = "item" ng-if="person.phone.length>0" ><span ng-repeat="phone in person.phone"><i class="icon ion-android-call iconPhone"></i>{{phone}}</span></div>
              
              <div class = "item responsible2" ng-if="!person.parent"><b>{{person.firstName}} {{person.lastName}}</b><span class="delega_value">({{ person.relation  | translate}})</span></div>
          </div>
        </div>

        <div class = "list">
          <div class="item responsible">{{'allergies' | translate}}:</div>
              <div class = "item" ng-repeat="allergy in listAllergies">{{allergy.name}}</div>
        </div>

        <div class = "list">
          <div class="item responsible">{{'sections_groups' | translate}}:</div>
              <div class = "item" ng-if="section!=null">{{section.sectionId}}</div>
              <div class = "item" ng-repeat="group in groups">{{group.sectionId}}</div>
        </div>
      <div class = "list">
          <div class="item responsible">{{'babysetting_bus' | translate}}</div>
          <div class = "item" ng-if="busEnabled && selectedBusBack">{{selectedBusBack.name}}</div>
          <div class = "item" ng-if="busEnabled && !selectedBusBack">{{'non_specificate' | translate}}</div>
          <div class = "item" ng-if="!busEnabled && !selectedBusBack">{{'non_previste' | translate}}</div>
      </div>

    </div>-->

  </div>
  </ion-content>
</ion-view>
