<ion-view id="buses" title="{{'bus_stop' | translate}}" ng-init="initialize()">
    <ion-nav-bar class="bar bar-ungiorno">
        <ion-nav-back-button>
        </ion-nav-back-button>

        <ion-nav-buttons side="right">
            <button class="button icon button-clear inf_digcheck" ng-click="send()"></button>
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-content class="page-padding" has-header="true">
        <div>
            <h5 class="accent-color input-description-padding">{{'date' | translate}}:</h5>
            <input type="date" ng-model="busStop.date" class="input-padding">

            <ion-list>
                <h5 class="accent-color input-description-padding">{{'baby_drops_off_to' | translate}}:</h5>
                <div class="row no-padding" ng-repeat="item in busStops track by $index">
                    <ion-checkbox class="item item-checkbox delegate" ng-model="item.checked" ng-value="{{item.stopId}}" name="radio" ng-change="selectStop(item)">{{item.stopId}}</ion-checkbox>
                </div>

                <h5 class="accent-color input-description-padding">{{'whos_waiting_is' | translate}}:</h5>
                <div class="row no-padding" ng-repeat="item in persons track by $index">
                    <ion-checkbox class="item item-checkbox delegate" ng-model="item.checked" ng-value="{{item.personId}}" name="radio" ng-change="selectPerson(item)">{{item.fullName}}</ion-checkbox>
                </div>
            </ion-list>
        </div>
    </ion-content>
</ion-view>
