<ion-view id="calendar" title="{{'calendar' | translate}}" ng-init="generateCalendar()">
	<ion-nav-bar class="bar bar-ungiorno">
	    <ion-nav-back-button></ion-nav-back-button>
	</ion-nav-bar>

	<ion-content has-header="true">
		<div class="row calendar-month">
			<div class="col calendar-arrow">
				<button class="calendar-arrow left">
					<i class="icon ion-ios-arrow-back"></i>
				</button>
			</div>
			<div class="col calendar-month">
				<p class="calendar-month">{{monthDisplay}}</p>
			</div>
			<div class="col calendar-arrow">
				<button class="calendar-arrow right">
					<i class="icon ion-ios-arrow-forward"></i>
				</button>
			</div>
		</div>

		<div class="row calendar-container">
			<div class="col" ng-repeat="day in week">
				<p class="calendar-container">{{day | translate}}</p>
			</div>
		</div>

		<div class="row" ng-repeat="item in month track by $index">
			<div class="col calendar-container" ng-repeat="days in item track by $index">
				<p>{{days}}</p>
			</div>
		</div>
	</ion-content>
</ion-view>