<ion-view id="calendar" title="{{'calendar' | translate}}">
	<ion-nav-bar class="bar bar-ungiorno">
	    <ion-nav-back-button></ion-nav-back-button>
	</ion-nav-bar>

	<ion-content has-header="true">
		<div class="row calendar-month">
			<div class="col calendar-arrow">
				<button class="calendar-arrow left">
					<i class="icon ion-ios-arrow-back"></i>
				</button>
			</div>
			<div class="col calendar-month">
				<p class="calendar-month">Aprile 2015</p>
			</div>
			<div class="col calendar-arrow">
				<button class="calendar-arrow right">
					<i class="icon ion-ios-arrow-forward"></i>
				</button>
			</div>
		</div>

		<div class="row calendar-container">
			<div class="col">
				<p class="calendar-container">{{'monday_reduced' | translate}}</p>
			</div>

			<div class="col">
				<p class="calendar-container">{{'tuesday_reduced' | translate}}</p>
			</div>

			<div class="col">
				<p class="calendar-container">{{'wednesday_reduced' | translate}}</p>
			</div>

			<div class="col">
				<p class="calendar-container">{{'thursday_reduced' | translate}}</p>
			</div>

			<div class="col">
				<p class="calendar-container">{{'friday_reduced' | translate}}</p>
			</div>

			<div class="col">
				<p class="calendar-container">{{'saturday_reduced' | translate}}</p>
			</div>

			<div class="col">
				<p class="calendar-container">{{'sunday_reduced' | translate}}</p>
			</div>
		</div>

		<div class="row calendar-container">

		</div>
	</ion-content>
</ion-view>