<div class="modal">
    <ion-header-bar class="bar-ungiorno">
        <button class="button back-button button-clear" ng-click="infoModal.hide()">
            <i class="icon inf_digarrow_back "></i>
        </button>
        <h1 class="title" class="row responsive-sm" class="row row-center">{{'meals_info' | translate}}</h1>
    </ion-header-bar>
    <ion-content style="margin:16px;">
        <div class="input-description-padding">Frequenze di consumo consigliate:</div>
        </br>
        <ul>
            <li>- Pesce 2-3 volte alla settimana</li>
            <li>- Carne 2-3 volte alla settimana</li>
            <li>- Formaggio 3 volte alla settimana</li>
            <li>- Uova 1-2 volte alla settimana</li>
            <li>- Prosciutto 1-2 volte alla settimana</li>
            <li>- Piatto unico a base di cereali e legumi almeno 2-3 volte alla settimana</li>
        </ul>
    </ion-content>
</div>
