<ion-view id="canteen" title="{{'meal' | translate}}" ng-init="initialize()">
    <ion-nav-bar class="bar bar-ungiorno">
        <ion-nav-back-button>
        </ion-nav-back-button>

        <ion-nav-buttons side="right">
            <button class="button" ng-click="openChangeViewModal()">
                <i class="icon ion-calendar"></i>
            </button>

            <button class="button" ng-click="openInfoModal()">
                <i class="icon ion-information"></i>
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-content has-header="true">
        <div>
            <div class="row calendar-date calendar-background">
                <div class="col col-10 calendar-arrow">
                    <button class="calendar-arrow left" ng-click="previous()">
                        <i class="icon ion-ios-arrow-back"></i>
                    </button>
                </div>
                <div class="col calendar-month">
                    <p class="calendar-month">{{dateDisplay}}</p>
                </div>
                <div class="col col-10 calendar-arrow">
                    <button class="calendar-arrow right" ng-click="next()">
                        <i class="icon ion-ios-arrow-forward"></i>
                    </button>
                </div>
            </div>
                
            <!-- WEEKLY -->
            <div class="row" ng-show="displayMode == 'weekly'">
                <!-- Date col -->
                <div class="col-25 canteen weekly-date">
                    <div class="canteen col-description"></div>
                </div>

                <!-- Lunch col -->
                <div class="col canteen weekly-lunch">
                    <div class="canteen col-description">
                        <p>{{'lunch' | translate}}</p>
                    </div>
                </div>

                <!-- Break col -->
                <div class="col canteen weekly-break">
                    <div class="canteen col-description">
                        <p>{{'break' | translate}}</p>
                    </div>
                </div>
            </div>

            <div style="background: {{day.background}}" class="row" ng-repeat="day in week" ng-show="displayMode == 'weekly'">
                <div class="col col-25">
                    <h4 class="canteen weekly-date">{{day.value.date()}}</h4>
                </div>

                <div class="col">
                    <div class="canteen food-description" ng-repeat="food in day.lunch">{{food.name}}</div>
                </div>

                <div class="col">
                    <div class="canteen food-description" ng-repeat="food in day.break">{{food.name}}</div>
                </div>
            </div>

            <!-- DAILY -->
            <div class="row no-padding" ng-show="displayMode == 'daily'">
                <ion-list>
                    <div class="canteen daily-description">
                        <p class="canteen daily-text">{{'lunch' | translate | uppercase}}</p>
                    </div>
                    <div class="canteen daily-text" ng-repeat="lunch in day.lunch">{{lunch.name}}</div>

                    <div class="canteen daily-description">
                        <p style="margin-top: 5px;" class="canteen daily-text">{{'break' | translate | uppercase}}</p>
                    </div>
                    <div class="canteen daily-text" ng-repeat="lunch in day.break">{{lunch.name}}</div>
                </ion-list>
            </div> 

            <!-- MONTHLY -->
            <div ng-show="displayMode == 'monthly'">
                <div class="row" ng-repeat="item in weeks track by $index">
                    <div class="col" style="padding: 0px;" ng-repeat="days in item track by $index">
                        <p class="canteen day-container">{{days.value}}</p>
                        <div class="row canteen food-image">
                            <div class="col">
                                <i class="icon ion-calendar"></i>
                            </div>
                            <div class="col">
                                <i class="icon ion-calendar"></i>
                            </div>
                        </div>
                        <div class="row canteen food-image">
                            <div class="col">
                                <i class="icon ion-calendar"></i>
                            </div>
                            <div class="col">
                                <i class="icon ion-calendar"></i>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>