<div class="modal" style="width: 70%; height: 34%;">
	<ion-header-bar>
		<h1 class="title" class="row responsive-sm" class="row row-center">{{'meals_info' | translate}}</h1>
	</ion-header-bar>
	<ion-content style="margin-left:10px; margin-right:10px;">
		<h3>Frequenze di consumo consigliate:</h3></br>
			<ul>
  				<li>- Pesce 2-3 volte alla settimana</li>
  				<li>- Carne 2-3 volte alla settimana</li>
  				<li>- Formaggio 3 volte alla settimana</li>
  				<li>- Uova 1-2 volte alla settimana</li>
  				<li>- Prosciutto 1-2 volte alla settimana</li>
  				<li>- Piatto unico a base di cereli e legumi almeno 2-3 volte alla settimana</li>
			</ul>
	</ion-content>
</div>