<ion-view id="home">
    <ion-nav-title ng-init="getDateString()">
        {{date | date:'EEEE, d MMMM yyyy'}}
    </ion-nav-title>
    <ion-content has-header="true">
        <div class="row">
            <div class="col col-50">
                <!--
                <button class="button button-block button-positive" ui-sref="app.assenza">
    {{'home_assenza' | translate}}
</button>
-->
                <a class="button button-block button-positive" ng-click="goTo('#/app/assenza')">
                    {{'home_assenza' | translate}}
                </a>
            </div>
            <div class="col col-50">
                <button class="button button-block button-positive" ui-sref="app.ritiro">
                    {{'home_ritiro' | translate}}
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col col-50">
                <button class="button button-block button-positive">
                    {{'home_bus' | translate}}
                </button>
            </div>
            <div class="col col-50">
                <button class="button button-block button-positive">
                    {{'home_mensa' | translate}}
                </button>
            </div>

        </div>
        <div class="row">
            <div class="col col-50">
                <button class="button button-block button-positive">
                    {{'home_calendario' | translate}}
                </button>
            </div>
            <div class="col col-50">
                <button class="button button-block button-positive">
                    {{'home_contatta' | translate}}
                </button>
            </div>
        </div>

        <p>Informazioni su </p>
        <div class="separator"></div>
        <p>blablabla</p>
        <p>Informazioni di servizio</p>
        <div class="separator"></div>
        <p>blablabla</p>
    </ion-content>
</ion-view>
