<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content drag-content="false">
    <ion-nav-bar class="bar bar-ungiorno">
      <ion-nav-buttons side="left">
        <!-- O: button-clear or button-icon -->
        <button class="button button-percorsi button-clear" menu-toggle="left" ng-click="getProfiles()">
          <i class="icon ion-navicon"></i>
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-content class="leftmenu">
      <ion-item class="item item-avatar item-button-right menu-profile" ng-if="babies && babies.length > 0">
        <img ng-src="{{getProfileImage(babyselected)}}">
        <h2>{{babyselected.firstName}} {{babyselected.lastName}}</h2>
        <!--
                <button menu-close class="button button-clear" id="babysetting" ng-click="gotoSetting({{babyselected.id}})">
                    <i class="icon inf_digsettings icon-light"></i>
                </button>
-->
      </ion-item>
      <ion-list>
        <div class="menu-profile-open text-right" ng-if="babies && babies.length > 1">
          <button class="button button-clear" ng-click="toggleProfile()">
            <i class="icon icon-light" ng-class="{'ion-chevron-down':!profilesOpen, 'ion-chevron-up':profilesOpen}"></i>
          </button>
        </div>
        <ion-item menu-close ng-click="changeKid(kp)" class="item item-avatar item-button-right menu-profile" ng-repeat="kp in babies" ng-if="profilesOpen && kp.kidId != babyselected.kidId">
          <img ng-src="{{getProfileImage(kp)}}">
          <h2>{{kp.firstName}} {{kp.lastName}}</h2>
        </ion-item>

        <ion-item  menu-close class="item item-icon-left" ng-click="gotoSetting({{babyselected.id}})" ng-if="userIsLogged">
          <i class="icon voice-menu  inf_digaccount"></i>{{'menu_impostazioni' | translate}}
        </ion-item>
        <ion-item  menu-close class="item item-icon-left" ng-click="goToWeekPlan()" ng-if="userIsLogged">
          <i class="icon voice-menu  ion-clipboard"></i>{{'menu_week_plan' | translate}}
        </ion-item>
        <ion-item  menu-close class="item item-icon-left" ng-click="gotoPromemoria({{babyselected.id}})" ng-if="userIsLogged">
            <i class="icon voice-menu  inf_digsettings"></i>{{'menu_promemoria' | translate}}
          </ion-item>
        <ion-item  menu-close class="item item-icon-left" ng-click="login()" ng-if="!userIsLogged">
          <i class="icon voice-menu  inf_digaccount"></i>{{'menu_enter' | translate}}
        </ion-item>
        <ion-item  menu-close onclick="window.open('mailto:ugas-help@smartcommunitylab.it?subject=UGAS Genitori: segnalazione problema','_system'); return false;" class="menu-last item-icon-left">
          <i class="icon ion-alert-circled"></i>{{'menu_issue' | translate}}
        </ion-item>
        <ion-item  menu-close class="item item-icon-left" ng-click="logout()" ng-if="userIsLogged">
          <i class="icon voice-menu  ion-log-out"></i>{{'menu_exit' | translate}}
        </ion-item>
        <ion-item  menu-close onclick="window.open('http://www.smartcommunitylab.it/ugas-privacy/', '_system'); return false;" class="menu-last item-icon-left">
          <i class="icon ion-android-list"></i>{{'menu_privacy' | translate}}
        </ion-item>
        <ion-item  menu-close ng-click="openCredits()" class="menu-last item-icon-left">
          <i class="icon ion-information-circled"></i>{{'menu_credits' | translate}}
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
