<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content drag-content="false">
        <ion-nav-bar class="bar bar-ungiorno">
            <ion-nav-buttons side="left">
                <!-- O: button-clear or button-icon -->
                <button class="button button-percorsi button-clear" menu-toggle="left">
                    <i class="icon ion-navicon"></i>
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left">
        <ion-header-bar class="bar bar-ungiorno">
            <h1 class="title">Menu</h1>
        </ion-header-bar>
        <ion-content class="leftmenu">
            <ion-list>
                <p>
                    <div class="row">
                        <div class="col col-80">
                            <div class="item item-avatar slected-baby" ng-click="openPopover($event)">
                                <img ng-src="{{babyselected.img}}">
                                <h2>{{babyselected.name}}</h2>
                            </div>
                        </div>
                        <div class="col col-20" id="babysettingcell">
                            <button menu-close class="button icon ion-gear-a" id="babysetting" ui-sref="app.babysetting({id:babyselected.id})"></button>
                        </div>
                    </div>

                </p>

                <!--</ion-item>-->
                <!--
<ion-item nav-clear menu-close item-icon-left ui-sref="app.ritiro">
    {{'menu_exit' | translate}}
</ion-item>
<ion-item nav-clear menu-close item-icon-left ui-sref="app.ritiro">
    {{'menu_enter' | translate}}
</ion-item>
-->
                <ion-item nav-clear menu-close item-icon-left ng-click="logout()" ng-if="userIsLogged">
                    <i class="icon voice-menu  sco-log-out"></i>{{'menu_exit' | translate}}
                </ion-item>

                <ion-item nav-clear menu-close item-icon-left ng-click="login()" ng-if="!userIsLogged">
                    <i class="icon voice-menu  sco-log-out"></i>{{'menu_enter' | translate}}
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
