<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content drag-content="false">
        <ion-nav-bar class="bar bar-ungiorno">
            <ion-nav-buttons side="left">
                <!-- O: button-clear or button-icon -->
                <button class="button button-percorsi button-clear" menu-toggle="left" ng-click="getProfiles()">
                    <i class="icon ion-navicon"></i>
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left">
        <ion-content class="leftmenu">
            <ion-item class="item item-avatar item-button-right menu-profile" ng-if="babies && babies.length > 0">
                <img ng-src="{{babyselected.image}}">
                <h2>{{babyselected.fullName}}</h2>
                <button menu-close class="button button-clear" id="babysetting" ng-click="gotoSetting({{babyselected.id}})">
                    <i class="icon inf_digsettings icon-light"></i>
                </button>
            </ion-item>
            <ion-list>
                <div class="menu-profile-open text-right"  ng-if="babies && babies.length > 1">
                    <button class="button button-clear" ng-click="toggleProfile()">
                        <i class="icon icon-light" ng-class="{'ion-chevron-down':!profilesOpen, 'ion-chevron-up':profilesOpen}"></i>
                    </button>
                </div>
                <ion-item menu-close ng-click="changeKid(kp)" class="item item-avatar item-button-right menu-profile" ng-repeat="kp in babies" ng-if="profilesOpen && kp.kidId != babyselected.kidId">
                    <img ng-src="{{kp.image}}">
                    <h2>{{kp.fullName}}</h2>
                </ion-item>


                <ion-item nav-clear menu-close class="item item-icon-left" ng-click="logout()" ng-if="userIsLogged">
                    <i class="icon voice-menu  inf_digaccount"></i>{{'menu_exit' | translate}}
                </ion-item>

                <ion-item nav-clear menu-close class="item item-icon-left"  ng-click="login()" ng-if="!userIsLogged">
                    <i class="icon voice-menu  inf_digaccount"></i>{{'menu_enter' | translate}}
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
