<ion-view id="sendnote" title="{{'send_note' | translate}}">
	<ion-nav-bar class="bar bar-ungiorno">
	    <ion-nav-back-button>
	    </ion-nav-back-button>

	    <ion-nav-buttons side="right">
            <button class="button" ng-click="send()">{{'send' | translate}}</button>
        </ion-nav-buttons>
	</ion-nav-bar>

	<ion-content class="page-padding" has-header="true">
		<div>
			<div class="accent-color input-description-padding">{{'date' | translate}}:</div>
				<button class="button-positive" ng-click="openDatePicker()">{{getDateLabel()}}</button>
            <!--<input type="date" ng-model="note.date" class="input-padding" required>-->

            <div class="accent-color input-description-padding">{{'text' | translate}}:</div>
            <textarea ng-model="note.description" class="input-padding" required/>
		</div>
	</ion-content>
</ion-view>
