<ion-view id="retire" title="{{'retire' | translate}}" ng-init="getRetire()">
    <ion-nav-bar class="bar bar-ungiorno">
        <!-- back button -->
        <ion-nav-back-button></ion-nav-back-button>

        <!-- Send server button -->
        <ion-nav-buttons side="right">
            <button class="button" ng-click="send()">
                <i class="icon ion-android-done"></i>
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-content class="page-padding" has-header="true">
        <div>

            <!-- Date -->
            <h5 class="accent-color input-description-padding"><b>{{'date' | translate}}:</b></h5>
            <input type="date" ng-model="temporary.date" class="input-padding" required>

            <!-- Hour -->
            <h5 class="accent-color input-description-padding"><b>{{'hour' | translate}}:</b></h5>
            <input type="time" ng-model="temporary.time" class="input-padding" required/>


            <!-- Who takes baby -->
            <h5 class="accent-color input-description-padding"><b>{{'who_takes_baby' | translate}}</b></h5>
            <p class="delegate-label description">{{'delegate_status' | translate}}</p>
            <ion-list>
                <ion-list class="padlist">
                    <ion-checkbox ng-repeat="item in retirePersons" ng-model="item.checked" ng-checked="item.checked" ng-change="selectPerson(item)">
                        <div class="retire">
                            <div class="retireFullName">{{item.fullName}}</div>
                            <div class="delegate-field">{{item.authorizationDeadline | date:'d MMMM yyyy'}}</div>
                        </div>
                    </ion-checkbox>
                </ion-list>

            </ion-list>

            <div class="delegate-input">
                <button ng-click="setRetire()" ui-sref="app.authorization">{{'nav_delegate' | translate}}</button>
            </div>

            <h5 class="accent-color input-description-padding"><b>{{'note' | translate}}:</b></h4>
            <input id="note" ng-model="temporary.note" type="text" placeholder="{{'note_description' | translate}}">
        </div>

    </ion-content>
</ion-view>
