<ion-view id="retire" title="{{'retire' | translate}}" ng-init="getRetire()">
    <ion-nav-bar class="bar bar-ungiorno">
        <!-- back button -->
        <ion-nav-back-button></ion-nav-back-button>

        <!-- Send server button -->
        <ion-nav-buttons side="right">
            <button class="button icon button-clear " ng-click="showConfirm()">{{'send'|translate}}</button>
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-content class="page-padding" has-header="true">
        <div>
            <div class="form-container">
                <!-- Date -->
                <div class="row">
                    <h5 class="accent-color input-retire-description-padding" class="col"><b>{{'date' | translate}}:</b></h5>
                    <button class="button button-clear button-dark" ng-click="openDatePicker()">{{getDateLabel()}}</button>
                </div>
                <div ng-if="babyProfile.services.bus.enabled">
                    <ion-checkbox ng-model="busChecked.value" ng-checked="busChecked.value" ng-change="checkBus(busChecked.value)" class="accent-color input-description-padding">
                        <b> {{'retire_bus' | translate}}</b>
                    </ion-checkbox>
                </div>

                <!-- Hour -->
                <div ng-if="!isUsingBus()" class="row">
                    <h5 class="accent-color input-retire-description-padding" class="col"><b>{{'hour' | translate}}:</b></h5>
                    <button class="button button-clear button-dark" ng-click="openTimePicker()">{{getTimeLabel()}}</button>
                </div>

                <!-- Who takes baby -->
                <h5 class="accent-color input-description-padding"><b>{{'who_takes_baby' | translate}}</b></h5>
                <p class="delegate-label description">{{'delegate_status' | translate}}:</p>
                <ion-list>
                    <ion-list class="padlist">
                        <ion-checkbox ng-repeat="item in retirePersons" ng-model="item.checked" ng-checked="item.checked" ng-change="selectPerson(item)">
                            <div class="retire">
                                <div class="row retireFullName">{{item.fullName}}</div>
                                <div class="row delegate-field">{{item.authorizationDeadline | date:'d MMMM yyyy'}}</div>
                            </div>
                        </ion-checkbox>
                    </ion-list>

                </ion-list>

                <!--<div class="delegate-input">
                <button class="button button-norm" ng-click="setRetire()" ui-sref="app.authorization">{{'nav_delegate' | translate}}</button>
            </div>-->

                <!--
<h5 class="accent-color input-description-padding"><b>{{'note' | translate}}:</b></h4>
            <textarea id="note" ng-model="temporary.note" placeholder="{{'note_description' | translate}}"/>
-->
            </div>
        </div>

    </ion-content>
</ion-view>
