<ion-view title="{{'lbl_login' | translate}}" class="login" hide-nav-bar="true">
    <ion-content>
        <div class="login-title">
            <div class="stuffcontainer">
                <!--                <div class="login-title-top">{{'signup_subtitle' | translate}}</div>-->
                <!--<h1>{{'text_login_title' | translate}}</h1>-->
                <!--                <img src="img/login_page_logo.png" width="70%" />-->
                <!--                <h4 style="color:#fff;">{{'signup_subtitle' | translate}}</h4>-->
            </div>
            <!--            <img class="bgimg" src="img/login_page_background.png" />-->
        </div>
        <div class="login-buttons">
            <div class="stuffcontainer">
                <div class="signup-title-top">{{'signup_subtitle' | translate}}</div>

                <label class="item item-input item-floating-label">
                    <span class="input-label login-label">{{'signup_name'|translate}}</span>
                    <input type="text" class="login-label" placeholder="{{'signup_name'|translate}}" ng-model="user.name">
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label login-label">{{'signup_surname'|translate}}</span>
                    <input type="text" class="login-label" placeholder="{{'signup_surname'|translate}}" ng-model="user.surname">
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label login-label">{{'signup_email'|translate}}</span>
                    <input type="email" class="login-label input-login" placeholder="{{'signup_email'|translate}}" ng-model="user.email">
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label login-label">{{'signup_pwd'|translate}}</span>
                    <input type="password" class="login-label input-login" type="password" placeholder="{{'signup_pwd'|translate}}" ng-model="user.password">
                </label>

                <!--

                <label class="item item-input login-input">
                    <input type="text" placeholder="{{'signup_name'|translate}}" ng-model="user.name">
                </label>
                <label class="item item-input login-input">
                    <input type="text" placeholder="{{'signup_surname'|translate}}" ng-model="user.surname">
                </label>
                <label class="item item-input login-input">
                    <input type="email" placeholder="{{'signup_email'|translate}}" ng-model="user.email">
                </label>
                <label class="item item-input login-input">
                    <input type="password" placeholder="{{'signup_pwd'|translate}}" ng-model="user.password">
                </label>-->

                <button class="button button-block login-button-internal login-margin" ng-click="register()">
                    <!--<i class="ion ion-social-facebook"></i>-->
                    {{'signup_signup' | translate}}
                </button>
                <button class="button button-block delete-login login-margin" ui-sref="app.login">
                    <!--<i class="ion ion-social-facebook"></i>-->
                    {{'cancel' | translate}}
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>
