<ion-view id="home">

  <ion-nav-title ng-init="getDateString()">
    {{date}}
  </ion-nav-title>
 
  <ion-content has-header="true">
    <ion-scroll scrollbar-y="true">
      <div class="dayEdit">
          <label class="control control-checkbox">
              <!-- ng-repeat="(key, data) in listServicesDb" ng-if="key!='mensa'" -->
              &nbsp;&nbsp;{{'home_bus' | translate }}
                  <input type="checkbox" ng-model="currData['bus']" name="bus"  ng-change="setBusHour()" />
              <div class="control_indicator"></div>
          </label>
      <table class="dayEdit_table" >
        <tr>
          <td>
              <p>{{'Entrata ore'| translate}}:</p>
          </td>
          <td>
              <p class="editable2" ng-click="openPopupEntry()">{{currData.entrata_display}}</p>
          </td>
        </tr>
        <tr>
          <td>
              <p>{{'Uscita ore'| translate}}:</p>
          </td>
          <td>
              <p class="editable2" ng-click="openPopupOut()" ng-show="!currData.bus">{{currData.uscita_display}}</p>
              <p class="noneditable2" ng-show="currData.bus">{{currData.uscita}}</p>
          </td>
        </tr>
        <tr>
          <td>
              <p>{{'Fermata'| translate}}:</p>
          </td>
          <td>
              <div data-tap-disabled="true">
                  <select ng-model="currData.fermata">
                    <option ng-repeat="option in fermataOptions" value="{{option.stopId}}" ng-selected="currData.fermata==option.stopId">{{option.stopId | translate}}</option>
                  </select>
              </div>
          </td>
        </tr>
        <tr>
          <td>
              <p>{{'Ritira'| translate}}:</p>
          </td>
          <td>
              <select ng-model="currData.delega_name" ng-disabled="currData.absence">
                      <option ng-repeat="option in ritiraOptions" value="{{option.personId}}" ng-selected="currData.delega_name==option.personId">
                          {{option.firstName}} {{option.lastName}}
                          ({{ option.parent ? 'parent'  : option.relation  | translate}})
                        </option>
                  </select>
                <!--<span  modal-select="" ng-model="currData.delega_name" options="ritiraOptions"  option-property="personId" modal-title="{{'Ritira'| translate}}">
                    <span ng-class="{'editable2': !currData.absence,'noneditable2': currData.absence}">{{currData.delega_name|getRitiroName:ritiraOptions | translate}} ({{currData.delega_name|getRitiroType:ritiraOptions | translate}})</span>
                    <div class="option">
                        {{option.firstName}} {{option.lastName}}
                        ({{ option.parent ? 'parent'  : option.relation  | translate}})
                    </div>
                </span>-->
          </td>
        </tr>
      </table>
      <hr class="hrstyle"/>
      <div class="repeat_str">{{'repeat_days' | translate}}:</div>
      <div class="day_checkbox">
          <label class="control control-checkbox" ng-repeat="dayex in repeatDays">
              <span class="day_control">{{dayex['label'] | translate | uppercase}}</span>
                  <input type="checkbox" ng-model="currData[dayex['name']]" name="currData[dayex['name']]" ng-disabled="$index==currDay" ng-checked="$index==currDay" />
              <div class="control_indicator"></div>
          </label>
      </div>
        <div class="button_bottom">
        <div class="button_cancel" ng-click="cancel()">
           {{'cancel' | translate | uppercase}}
        </div>

        <div class="button_save" ng-click="setDefaultDay()">
          {{'Conferma' | translate | uppercase}}
        </div>
      </div>

    </div>
    </ion-scroll>
  </ion-content>
</ion-view>
<!-- 
  <ion-list class="padlist">
			<ion-item ng-repeat="option in options" ng-click="changeView(option)">{{option | translate}}</ion-item>
    </ion-list>
  -->