<div>
  <div ng-repeat="itemValue in listServicesPosticipo" ng-click="setOut(itemValue)">
    <div style="display: flex; flex-direction: row;">
            <input type="radio" id="{{$index}}" name="radio-group" value="itemValue.out">
            <label for="{{$index}}">{{itemValue.out}} ({{itemValue.value}})</label>
      </div>
    </div>
    <div>
    <div style="display: flex; flex-direction: row;">
        <input type="radio" id="imposta" name="radio-group" ng-click="showManualTime()">
        <label for="imposta">Imposta ora:</label>
        <label class="plan-item-time" ng-class="{'lookeditable': manual_time, looknoneditable: !manual_time}">
            <ionic-timepicker input-obj="timePickerObject24Hour">
                <button ng-if="manual_time" ng-hide="true"></button>
                <span class="">
                      <standard-time-no-meridian etime="timePickerObject24Hour.inputEpochTime" ></standard-time-no-meridian>
                </span>
            </ionic-timepicker>
        </label>
   </div>
  </div>
</div>

