<div class="content">
  <!--<div ng-repeat="itemValue in listServicesAnticipo">-->
    <div class="item" style="display: flex; flex-direction: row;" ng-repeat="itemValue in listServicesAnticipo" ng-click="setEntry(itemValue)">
            <input type="radio" id="{{$index}}" name="radio-group" value="itemValue.out">
            <label for="{{$index}}">{{itemValue.out}} ({{itemValue.value}})</label>
      </div>
    <!--</div>-->
    <div>
    <div class="item"  style="display: flex; flex-direction: row;" ng-click="showManualTime()">
        <input type="radio" id="imposta" name="radio-group" >
        <label for="imposta">Imposta ora:</label>
        <label class="plan-item-time" ng-class="{'lookeditable': manual_time, looknoneditable: !manual_time}">
            <ionic-timepicker input-obj="timePickerObject24HourEntrata">
                <button ng-if="manual_time" ng-hide="true"></button>
                <span class="">
                      <standard-time-no-meridian etime="timePickerObject24HourEntrata.inputEpochTime" ></standard-time-no-meridian>
                </span>
            </ionic-timepicker>
        </label>

   </div>
  </div>
</div>

