<div id="school" ng-controller="ctrl">
	<div class="container">
		<div class="section-small">
			<p class="p-info indent">
				<span class="glyphicon glyphicon-question-sign"></span>Tutti i campi
				contrassegnati da simbolo * sono obbligatori. Compila tutti i campi
				prima di salvare.
			</p>
		</div>
		<div class="title title-text header-text">Contatti della Scuola</div>
		<div class="section">
			<form class="form-horizontal">
				<div class="form-group">
					<label class="col-md-2">Indrizzo Email *</label>
					<div class="col-md-9">
						<input type="email" class="form-control input-div" ng-model="email">
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-2">Telefono *</label>
					<div class="col-md-9">
						<input type="tel" class="form-control input-div" ng-model="phone">
					</div>
				</div>
			</form>
		</div>
		<div class="title title-text header-text">Fasce orarie scolastiche</div>
		<div class="section">
			<div class="row section-small">
				<div class="col-md-2">
					<p>Anticipo*:</p>
				</div>
				<div class="col-md-3">
					<form class="form-inline">
						<div class="form-group">
							<label>dalle</label>
							<div class="input-group time-box">
								<input type="time" step="60" ng-model="anticipoTiming.start"
									class="form-control input-group-left">
								<div class="input-group-addon input-group-right time-icon-box">
									<span class="glyphicon glyphicon-time"></span>
								</div>
							</div>
						</div>
					</form>
				</div>
				<div class="col-md-3">
					<form class="form-inline">
						<div class="form-group">
							<label>alle</label>
							<div class="input-group time-box">
								<input type="time" ng-model="anticipoTiming.end"
									class="form-control input-group-left">
								<div class="input-group-addon input-group-right  time-icon-box">
									<span class="glyphicon glyphicon-time"></span>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="row section-small">
				<div class="col-md-2">
					<p>Normale *:</p>
				</div>
				<div class="col-md-3">
					<form class="form-inline">
						<div class="form-group">
							<label>dalle</label>
							<div class="input-group time-box">
								<input type="time" class="form-control input-group-left"
									disabled ng-model="anticipoTiming.end">
								<div class="input-group-addon  input-group-right  time-icon-box">
									<span class="glyphicon glyphicon-time"></span>
								</div>
							</div>
						</div>
					</form>
				</div>
				<div class="col-md-3">
					<form class="form-inline">
						<div class="form-group">
							<label>alle</label>
							<div class="input-group time-box">
								<input type="time" step="60" ng-model="posticipoTiming.start"
									class="form-control input-group-left" disabled>
								<div class="input-group-addon input-group-right  time-icon-box">
									<span class="glyphicon glyphicon-time"></span>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="row section-small">
				<div class="col-md-2">
					<p>Posticipo *:</p>
				</div>
				<div class="col-md-3">
					<form class="form-inline">
						<div class="form-group">
							<label>dalle</label>
							<div class="input-group time-box">
								<input type="time" step="60"
									class="form-control input-group-left"
									ng-model="posticipoTiming.start">
								<div class="input-group-addon input-group-right  time-icon-box">
									<span class="glyphicon glyphicon-time"></span>
								</div>
							</div>
						</div>
					</form>
				</div>
				<div class="col-md-3">
					<form class="form-inline">
						<div class="form-group">
							<label>alle</label>
							<div class="input-group time-box">
								<input type="time" step="60 "
									class="form-control input-group-left"
									ng-model="posticipoTiming.end">
								<div class="input-group-addon input-group-right  time-icon-box">
									<span class="glyphicon glyphicon-time"></span>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="section-small">
			<div>
				<label>Altri orari importanti</label>
			</div>
			<form class="form-inline">
				<fieldset data-ng-repeat="time in times"
					class="section-small input-div-row">
					<div class="input-group">
						<input type="time" step="60" class="form-control input-group-left"
							readonly="readonly" value={{time}}><span
							class="glyphicon glyphicon-remove input-group-addon input-group-right time-icon-box"
							ng-click="removeTime($index)"></span>
					</div>
				</fieldset>
				<div class="input-group section-small input-div-row">
					<input type="time" step="60 " class="form-control input-group-left"
						ng-model="timeinput"><span
						class="glyphicon glyphicon-time input-group-addon input-group-right time-icon-box"></span>
				</div>
				<button type="button" class="btn btn-xs button-add menu-button-text"
					ng-click="addTime()">
					<span class="glyphicon glyphicon-plus"></span>
				</button>
			</form>
		</div>
		<div class="title title-text header-text">Tipologia di assenze</div>
		<div class="section-small">
			<label><input type="checkbox" ng-model="ConditionMalattia">Malattia</label>
		</div>
		<form class="form-inline">
			<fieldset data-ng-repeat="absence in absences"
				class="section-small input-div-row">
				<input type="text" readonly="readonly" class="form-control input-div"
					value={{absence.type}}><span
					class="glyphicon glyphicon-remove delete-x-icon"
					ng-click="removeAbsence($index)"></span>
			</fieldset>
			<div class="section-small input-div-row">
				<input type="text" class="form-control input-div" ng-model="absenceinput">
				<button type="button" class="btn btn-xs button-add menu-button-text"
					ng-click="addAbsence()">
					<span class="glyphicon glyphicon-plus"></span>
				</button>
			</div>
		</form>
		<div ng-show="ConditionMalattia">
			<div class="title title-text header-text">Tipologia di Malattie</div>
			<div class="section-small">
				<form class="form-inline">
					<fieldset data-ng-repeat="illness in illnessess"
						class="section-small input-div-row">
						<input type="text" class="form-control input-div" readonly="readonly"
							value={{illness.type}}><span
							class="glyphicon glyphicon-remove delete-x-icon"
							ng-click="removeIllness($index)"></span>
					</fieldset>
					<input type="text" class="form-control input-div input-div-row"
						ng-model="illnessinput">
					<button type="button"
						class="btn btn-xs button-add menu-button-text"
						ng-click="addIllness()">
						<span class="glyphicon glyphicon-plus"></span>
					</button>
				</form>
			</div>
		</div>
		<div class="alert alert-success fade in" ng-show="saveMessage">
			<a class="close" aria-label="close" ng-click="messagehide()">&times;</a>
			I dati si sono salvati!
		</div>
		<div class="row">
			<div class="col-md-6 col-sm-8 col-xs-12 pull-right">
				<div class="row">
					<div class="col-md-6 col-sm-6 col-xs-6">
						<button type="button"
							class="btn btn-default button-anulla menu-button-text"
							data-toggle="modal" data-target="#anulla">Annulla
							Modifiche</button>
					</div>
					<div class="col-md-6 col-sm-6 col-xs-6">
						<button type="button"
							class="btn btn-default button-save menu-button-text"
							ng-click="postSchool(); messageshow()">Salva</button>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="anulla" tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-body">
						<p>Sei sicuro di voler annulare le modifiche?</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn"
							onclick="window.location.reload()" data-dismiss="modal">Si</button>
						<button type="button" class="btn" data-dismiss="modal">no</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
