<ion-header>
    <ion-navbar>
        <ion-title>
            {{selectedOrario.servizio}}
            <span *ngIf="selectedOrario.servizio === ''">Nuovo orario</span>
        </ion-title>
        <ion-buttons start>
            <button ion-button (click)="close()">Annulla</button>
        </ion-buttons>
        <ion-buttons end>
            <div (mouseover)="sovraPopover($event)">
                <button ion-button (click)="save()" [disabled]='!(copiedOrario.servizio) || disable || sovrapp'>
                    Salva
                </button>
            </div>
        </ion-buttons>

    </ion-navbar>
</ion-header>

<ion-content>
    <p style="color: #ccc; margin-left: 25px">
        <ion-icon name="help-circle"></ion-icon> Tutti i campi contrassegnati dal simbolo * sono obbligatori</p>
    <ion-grid inset>
        <ion-row>
            <ion-col col-10 offset-1>
                <ion-card>
                    <ion-card-header>
                        Informazioni di base
                    </ion-card-header>
                    <ion-card-content>
                        <ion-list inset>
                            <ion-item>
                                <div>Nome*<input class="text-generic" type="text" [(ngModel)]="copiedOrario.servizio"></div>
                            </ion-item>
                            <!--<ion-item>
                                <ion-label *ngIf="giaNorm[0]">Questo è l'orario normale</ion-label>
                            </ion-item>-->
                        </ion-list>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-10 offset-1>
                <ion-card>
                    <ion-card-header>
                        Fasce
                    </ion-card-header>
                    <ion-card-content>
                        <ion-list inset no-lines>
                            <ion-item *ngIf="copiedOrario.fasce.length === 0 " text-center class="empty-field ">Nessuna fascia oraria presente</ion-item>
                            <ion-grid *ngFor="let fascia of copiedOrario.fasce; let i = index">
                                <ion-row>
                                    <ion-col col-5>
                                        <ion-item>
                                            <ion-row>
                                                <ion-col col-2>Nome</ion-col>
                                                <ion-col col-10><input maxlength="20" class="text-generic" type="text" [(ngModel)]="fascia.name"
                                                        ng-focus="fascia.name === ''" (ngModelChange)='changeName(fascia.name)'
                                                        (ionBlur)="blurFascia(fascia)"></ion-col>
                                            </ion-row>
                                        </ion-item>
                                    </ion-col>
                                    <ion-col col-3 style="bottom: 0px">
                                        <ion-item>
                                            <ion-label>Da</ion-label>
                                            <ion-datetime displayFormat="HH:mm" pickerFormat="HH:mm" [(ngModel)]="fascia.start"></ion-datetime>
                                        </ion-item>
                                    </ion-col>
                                    <ion-col col-3 style="bottom: 0px">
                                        <ion-item>
                                            <ion-label>A</ion-label>
                                            <ion-datetime displayFormat="HH:mm" pickerFormat="HH:mm" [(ngModel)]="fascia.end"></ion-datetime>
                                        </ion-item>
                                    </ion-col>
                                    <ion-col col-1>
                                        <button style="padding-left: 3px" ion-item icon-only (click)='removeFascia(fascia)'><ion-icon style="padding-left: 0" name="trash" item-end color="magenta1"></ion-icon></button>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>
                            <ion-grid>
                                <ion-row text-center>
                            <ion-col><button ion-button color="green1" (click)='addFascia()' [disabled]='disable' margin-top>Aggiungi Fascia</button>
                            </ion-col>
                            </ion-row>
                            </ion-grid>
                        </ion-list>
                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col col-1>
                <p></p>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>